<include file="layout.html">

  <var:colors>['base', 'default', 'primary', 'action', 'success', 'warn', 'critical']</var:colors>
  <var:sizes>['smaller', 'small', '', 'large', 'larger']</var:sizes>

  <def:body>
    <div class="container container-fixed">
      <div class="hero centered">
        <h1>Раздел 1. Компоновка блоков</h1>
        <p>
          Элементы компоновки управляют расположением блоков на различных устройствах.
        </p>
      </div>
    </div>
    <div class="container pnl pnl-primary-subtle">
      <h2>1.1 Контейнер</h2>
      <p>
        Весь контент должен находиться в контейнерах <code>.container</code>.
        По умолчанию контейнер растягивается на всю страницу и задает стандартные
        боковые отступы.
      </p>
    </div>
    <div>
      <div class="layout-fixed">
        <div class="container">
          <h2>1.2 Фиксированная ширина</h2>
          <p>
            Контейнеры, помещенные в <code>.layout-fixed</code>,
            становятся фиксированными по ширине, как здесь.
            Адаптивная ширина изменяется для устройств среднего размера (планшетов)
            и больших экранов.
          </p>
        </div>
      </div>
      <div class="container container-fixed">
        <p>
          Такой же эффект имеет модификатор <code>.container-fixed</code>
          для контейнера. В этом случае <code>.layout-fixed</code> не нужен.
        </p>
      </div>
    </div>
    <div class="pnl pnl-primary-subtle">
      <div class="container container-fixed">
        <h2>1.3 Панели</h2>
        <div class="pnl pnl-base pnl-indent pnl-standalone">
          <p>Панели <code>.pnl</code> формируют «подложку» для контента.</p>
          <p>В данном примере используются две панели:</p>
          <ul>
            <li>
              первая панель темного цвета используется как родительский
              элемент контейнера (вместо нее можно использовать фоновую фотографию);
            </li>
            <li>
              вторая панель белого цвета находится внутри контейнера с фиксированной шириной,
              на ней написан этот текст.
            </li>
          </ul>
        </div>
      </div>
      <div class="container container-fixed pnl pnl-base pnl-standalone block">
        <p>
          Если совместить панель и контейнер в одном элементе, то отступ панели
          выйдет за рамки контейнера фиксированной ширины. Используя этот метод,
          можно выравнять текст по ширине основной колонки.
        </p>
      </div>
    </div>
    <div class="container container-fixed">
      <h2>1.4 Вертикальный отступ</h2>
      <p>По умолчанию блоки находятся вплотную друг к другу (отсутствуют вертикальные поля).</p>
      <p>Базовый класс <code>.block</code> добавляет стандартные вертикальные поля.</p>
    </div>
    <div class="pnl pnl-primary-subtle">
      <div class="container container-fixed">
        <h2>1.5 Адаптивные сетки</h2>
        <p>Сетки используются для создания колоночной компоновки
          и проектируются по принципу Mobile First: сначала
          страница макетируется под мобильный телефон (маленький экран),
          затем под планшет, в последнюю очередь под большой экран.</p>
        <p>Ячейки, совмещенные с панелями, растягиваются по высоте сетки.</p>
        <div class="grid grid-gutters block">
          <div class="cell cell-m-2 pnl pnl-base pnl-indent pnl-standalone">
            <p>
              Размер ячеек указывается в относительных единицах и зависит от общего
              количества ячеек. Эта ячейка занимает 2 логических ширины единицы.
            </p>
          </div>
          <div class="cell cell-m-1 pnl pnl-base pnl-indent pnl-standalone">
            <p>Эта ячейка занимает одну логическую единицу ширины.</p>
          </div>
        </div>
        <div class="grid grid-gutters block">
          <div class="cell cell-m-2 pnl pnl-base pnl-indent pnl-standalone">
            <p>
              Эта ячейка занимает 2 логических ширины единицы.
            </p>
          </div>
          <div class="cell cell-m-1 pnl pnl-base pnl-indent pnl-standalone">
            <p>Эта ячейка занимает одну логическую единицу ширины.</p>
          </div>
          <div class="cell cell-m-1 pnl pnl-base pnl-indent pnl-standalone">
            <p>Эта ячейка занимает одну логическую единицу ширины.</p>
          </div>
        </div>
        <div class="grid grid-gutters block">
          <div class="cell cell-m-1 pnl pnl-base pnl-indent pnl-standalone">
            <p>Эта ячейка занимает одну логическую единицу ширины.</p>
          </div>
          <div class="cell cell-m-2 pnl pnl-base pnl-indent pnl-standalone">
            <p>
              Эта ячейка занимает 2 логических ширины единицы.
            </p>
          </div>
          <div class="cell cell-m-1 pnl pnl-base pnl-indent pnl-standalone">
            <p>Эта ячейка занимает одну логическую единицу ширины.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-fixed">
      <div class="hero centered">
        <h1>Раздел 2. Компоненты</h1>
        <p>
          Компоненты — функциональная часть дизайна. Этот раздел содержит
          трафарет основных компонентов, а также интегральные примеры.
        </p>
      </div>
    </div>

    <div class="pnl-primary-subtle">
      <div class="container container-fixed">
        <h2>2.1 Панели</h2>
        <div class="pnl pnl-base pnl-standalone pnl-indent block">
          <p>
            Одиночная панель должна сопровождаться модификатором
            <code>.pnl-standalone</code>.
          </p>
        </div>
        <div class="pnl-group block">
          <div class="pnl pnl-base pnl-indent">
            <p>
              Несколько панелей можно объединить в группу.
            </p>
          </div>

          <each:c in="colors">
            <div class="pnl pnl-indent pnl-#{c}">
              <p>
                Панели бывают разных цветов.
              </p>
            </div>
          </each:c>
        </div>
      </div>
    </div>

    <div class="container container-fixed">
      <h2>2.2 Кнопки</h2>
      <each:s in="sizes">
        <div class="block">
          <div class="inline-grid">
            <each:c in="colors">
              <button class="btn btn-#{c} btn-#{s}">Кнопка</button>
            </each:c>
          </div>
        </div>
      </each:s>
      <p>Чтобы между кнопками были отступы, поместите их в <code>.inline-grid</code>.</p>
    </div>

    <div class="container container-fixed">
      <h2>2.3 </h2>
    </div>

  </def:body>

</include>
