<include file="_layout.html">

  <def:main>
    <form name="submissionForm"
          ng-cloak
          novalidate
          ng-controller="FormController as f"
          ng-submit="submissionForm.$valid && f.submit()">
      <div class="form-view"
           ng-hide="submissionForm.$submitted">
        <div class="container">
          <div class="grid grid-gutters block">
            <div class="cell cell-m-1">
              <h1>#{form.title}</h1>
              !{form.descriptionHtml}
              <p class="text-subtle">
                Звездочкой
                <span class="text-critical">*</span>
                отмечены поля, обязательные для заполнения.
              </p>
            </div>
            <div class="cell cell-m-2">
              <div class="pnl pnl-base pnl-level-3 pnl-standalone pnl-indent">
                <include file="_fields.html"/>
                <div class="block centered">
                  <button type="submit"
                          class="btn btn-primary btn-large"
                          ng-disabled="!submissionForm.$valid">
                    <span>Отправить</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-submitted"
           ng-cloak
           ng-show="submissionForm.$submitted">
        <div class="container">
          !{form.submittedHtml}
        </div>
      </div>
    </form>
  </def:main>

</include>
