html, body, form, fieldset, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Arsenal */

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: normal;
  src:  local('Arsenal'),
  local('Arsenal Regular'),
  url('/theme/base/static/fonts/Arsenal-Regular.ttf');
}

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: bold;
  src: local('Arsenal'),
  local('Arsenal Bold'),
  url('/theme/base/static/fonts/Arsenal-Bold.ttf')
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: normal;
  src: local('Arsenal'),
  local('Arsenal Italic'),
  url('/theme/base/static/fonts/Arsenal-Italic.ttf');
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: bold;
  src: local('Arsenal'),
  local('Arsenal Bold Italic'),
  url('/theme/base/static/fonts/Arsenal-BoldItalic.ttf');
}

/* PT Sans */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'),
  url('/theme/base/static/fonts/PTSans.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'),
  url('/theme/base/static/fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'),
  url('/theme/base/static/fonts/PTSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'),
  url('/theme/base/static/fonts/PTSans-Italic.ttf');
}
