// ----------------------
// Экран с пустым списком
// ----------------------
//
// Используется на страницах вида «Ничего не найдено»,
// «Добавьте первый товар» и т.д.

.empty-list {

}

.empty-list-icon {

}

.empty-list-message {

}
