.cropArea
  overflow: hidden
  img-crop
    height: 300px
    position: relative
    overflow: hidden
    display: block
  canvas
    display: block
    position: relative
    margin: 0 auto !important
    top: 0
    left: 0
    right: 0
    outline: 0
    -webkit-tap-highlight-color: transparent

.croppedImage
  margin: 0 auto
  width: 64px