// Arsenal

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: normal;
  src:  local('Arsenal'),
  local('Arsenal Regular'),
  url('/static/fonts/Arsenal-Regular.ttf');
}

@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: bold;
  src: local('Arsenal'),
  local('Arsenal Bold'),
  url('/static/fonts/Arsenal-Bold.ttf')
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: normal;
  src: local('Arsenal'),
  local('Arsenal Italic'),
  url('/static/fonts/Arsenal-Italic.ttf');
}

@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: bold;
  src: local('Arsenal'),
  local('Arsenal Bold Italic'),
  url('/static/fonts/Arsenal-BoldItalic.ttf');
}

// PT Sans

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'),
  url('/static/fonts/PTSans.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'),
  url('/static/fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'),
  url('/static/fonts/PTSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'),
  url('/static/fonts/PTSans-Italic.ttf');
}
