// ----------------------
// Вспомогательные классы
// ----------------------
//
// Позволяют применить минимальный набор правил в уникальном
// контексте, где создание отдельного компонента не обоснованно.

// Вертикальный отступ между компонентами

.block { margin: gap 0 }

// Angular ng-cloak

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Запрет разрыва строки

.nobr {
  white-space: nowrap;
}

// Выравнивание текста

.align-left { text-align: left }
.align-right { text-align: right }
.align-center, .centered { text-align: center }

// Размеры шрифты

.type-larger { font-size: type-larger }
.type-large { font-size: type-large }
.type-small { font-size: type-small }
.type-smaller { font-size: type-smaller }

// Отображение/скрытие компонентов на устройствах

@media (max-width: screen-small-max) {
  .hide-s {
    display: none !important
  }
}

@media (min-width: screen-medium-min) {
  .show-s {
    display: none !important
  }
}

@media (min-width: screen-large-min) {
  .hide-l {
    display: none !important
  }
}

@media (max-width: screen-medium-max) {
  .show-l {
    display: none !important
  }
}

// Цвет текста

for c in ui-colors {

  .text-{c} {
    color: lookup('ui-' + c);
  }

}

// Прозрачность

.opacity-25 { opacity: .25 }
.opacity-50 { opacity: .50 }
.opacity-75 { opacity: .75 }

