// ----------------------
// Вспомогательные классы
// ----------------------
//
// Позволяют применить минимальный набор правил в уникальном
// контексте, где создание отдельного компонента не обоснованно.

// Вертикальный отступ между компонентами

.block { margin: gap 0 }

// Блок с увеличенными вертикальными отступами

.hero {
  padding-top: gap-larger;
  padding-bottom: gap-larger;
}

// Angular ng-cloak

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Запрет разрыва строки

.nobr { white-space: nowrap }
.prewrap { white-space: pre-wrap }

// Выравнивание текста

.align-left { text-align: left }
.align-right { text-align: right }
.align-center, .centered { text-align: center }

// Обтекание блока

.pull-left { float: left }
.pull-right { float: right }

// Размеры шрифты

.type-larger { font-size: type-larger }
.type-large { font-size: type-large }
.type-small { font-size: type-small }
.type-smaller { font-size: type-smaller }

// Отображение/скрытие компонентов на устройствах

@media (max-width: screen-small-max) {
  .hide-s {
    display: none !important
  }
}

@media (min-width: screen-medium-min) {
  .show-s {
    display: none !important
  }
}

@media (min-width: screen-large-min) {
  .hide-l {
    display: none !important
  }
}

@media (max-width: screen-medium-max) {
  .show-l {
    display: none !important
  }
}

// Цвет текста

for c in ui-colors {

  .text-{c} {
    color: lookup('ui-' + c);
  }

}

.text-subtle {
  font-size: type-small;
  font-style: italic;
  color: subtle-color;
}

// Прозрачность

.opacity-25 { opacity: .25 }
.opacity-50 { opacity: .50 }
.opacity-75 { opacity: .75 }

.image-thumb {
  max-height: 96px;
}

// position:sticky polyfill

.has-sticky {
  position: relative;
}

.sticky {
  position: relative;
}

.sticky-fixed {
  position: fixed;
  top: 0;
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}
