// ----------------------
// Вспомогательные классы
// ----------------------
//
// Позволяют применить минимальный набор правил (пр. `float: left`) в уникальном
// контексте, где создание отдельного компонента не обоснованно.
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

