// -------
// Миксины
// -------
//
// Используются для избежания повторений одинакового набора правил в различных
// контекстах.

clearfix() {
  &::before, &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}
