// -----
// Сброс
// -----
//
// Общие правила, обеспечивающие сброс стилей по умолчанию.
// Используйте только селекторы с минимальным весом.
//
// Избегайте слишком общих правил, влекущих к ошибочным допущениям, например:
//
//  ```
//  * {
//    position: relative;
//    box-sizing: border-box;
//  }
//  ```
html, body, form, fieldset, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

button, input, select, textarea {
  font: inherit;
  white-space: inherit;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
}
