.shopping-cart
  position: fixed
  z-index: 1000
  top: 0
  bottom: 0
  right: 0
  background: body-bg
  border-left: 4px solid cart-ctl-bg
  width: 320px
  box-sizing: border-box
  padding: 0 gutter
  transform: translateX(320px)
  transition: transform .5s
  &.open
    transform: translateX(0)
    box-shadow: 0 0 64px rgba(0,0,0,.5),
                0 0 0 9999px rgba(0,0,0,.25)

  .cart-toggle-button
    position: absolute
    bottom: 64px
    right: 100%
    cursor: pointer
    display: block
    text-decoration: none
    text-align: center
    background-color: cart-ctl-bg
    color: cart-ctl-color
    padding: 4px 12px
    border-radius: radius 0 0 radius
    if light(cart-ctl-color)
      text-shadow: 0 1px 1px darken(cart-ctl-bg, 15%)
    label
      font-size: type-large
      cursor: pointer
    i
      font-size: 24px
    &::after
      content:''
      position: absolute
      z-index: 10
      top: -4px
      bottom: -4px
      right: 0
      width: 4px
      background: cart-ctl-bg

  .cart-close
    position: absolute
    top: 4px
    right: 8px
    color: text-subtle-color
    font-size: type-small

  .cart-item
    position: relative
    .cart-hover
      transition: all .5s
      visibility: hidden
      opacity: 0
    &:hover
      .cart-hover
        visibility: visible
        opacity: 1

  .cart-item-qty
    text-align: center

  .cart-item-photo
    position: absolute
    top: 0
    right: 100%
    margin: gutter
    border-radius: 1000px
    width: 240px
    pointer-events: none

  .cart-item-prop
    color: text-subtle-color
    font-size: type-small
    white-space: nowrap
    & + .cart-item-prop
      margin-left: 6px

.shopping-cart-shifter
  position: relative
  transition: all .5s
  overflow: hidden
  &.open
    transform: translateX(-160px)
    cursor: e-resize

.shopping-cart-blur
  filter: blur(0px)
  -webkit-filter: blur(0px)
  &.open
    filter: blur(4px)
    -webkit-filter: blur(4px)
