.product-price
  .price, .price-range
    font-size: type-large

.product-photos
  text-align: center
  nav a
    position: relative
    display: inline-block
    width: 64px
    margin: 4px
    border-radius: radius
    overflow: hidden
