// ----------------------
// Вспомогательные классы
// ----------------------
//
// Позволяют применить минимальный набор правил в уникальном
// контексте, где создание отдельного компонента не обоснованно.

// Вертикальный отступ между компонентами

.block { margin: 1em 0 }

// Angular ng-cloak

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// Запрет разрыва строки

.nobr {
  white-space: nowrap;
}

// Выравнивание текста

.align-left { text-align: left }
.align-right { text-align: right }
.align-center, .centered { text-align: center }
