// ----------
// Переменные
// ----------
//
// Переменные можно условно разбить на три группы:
//
//  * опции — переменные, которые можно переопределить через веб-интерфейс
//    (в разделе «Оформление» — «Кастомизация»),
//
//  * константы,
//
//  * вычисляемые переменные.
//
// Опции должны быть указаны в соответствующем разделе файла `theme.json`.
//
// В этом файле следует указать константы и переменные, значения которых
// вычисляются на основе опций, констант или других переменных.

// -------
// Размеры
// -------

font-size-px ?= 16
font-size ?= unit(font-size-px, px)
line-height ?= 1.5

type-larger ?= 1.5em
type-large ?= 1.25em
type-small ?= 0.875em
type-smaller ?= 0.75em

gap-smaller ?= .25em
gap-small ?= .5em
gap ?= 1em
gap-large ?= 2em
gap-larger ?= 4em

// --------------------------
// Точки адаптивного перехода
// --------------------------

screen-small-max ?= 639px
screen-medium-min ?= 640px
screen-medium-max ?= 1023px
screen-large-min ?= 1024px

// ------------
// Радиус углов
// ------------

border-radius ?= 4px

// ---------------------
// Расчет цветовой схемы
// ---------------------

ui-colors = 'base' 'default' 'primary' 'action' 'success' 'warn' 'critical'

for c in ui-colors
  _c = lookup('ui-' + c)
  define('ui-' + c + '-text', light(_c) ? darken(_c, 75%) : #fff)
  define('ui-' + c + '-border', light(_c) ? darken(_c, 10%) : darken(_c, 15%))

// ----------------
// Базовые элементы
// ----------------

link-color ?= ui-action
link-hover-color ?= lighten(link-color, 25%)

strong-color ?= body-color
em-color ?= body-color
subtle-color ?= lighten(body-color, 40%)

hr-color ?= ui-default

// ----------
// Компоненты
// ----------

// ----------
// Структуры
// ----------

workspace-aside-background ?= darken(ui-primary, 75%)
workspace-nav-link-background ?= transparent
workspace-nav-link-color ?= ui-primary
workspace-nav-link-active-background ?= darken(workspace-aside-background, 25%)
workspace-nav-link-active-color ?= #fff
