<div class="products-filters"
     ng-controller="CatalogController as catalog">
  <div class="product-filter product-filter-price">
    <h3>Цена</h3>
    <div class="inline-grid">
      <label for="priceMin" class="type-small">от</label>
      <input id="priceMin"
             type="number"
             size="7"
             min="#{stats.priceMin}"
             max="#{stats.priceMax}"
             step="10"
             class="input input-small"
             ng-model="catalog.filters.priceMin"/>
      <label for="priceMax" class="type-small">до</label>
      <input id="priceMax"
             type="number"
             size="7"
             min="#{stats.priceMin}"
             max="#{stats.priceMax}"
             step="10"
             class="input input-small"
             ng-model="catalog.filters.priceMax"/>
    </div>
    <ui-range min="#{stats.priceMin}"
              max="#{stats.priceMax}"
              start="catalog.filters.priceMin"
              end="catalog.filters.priceMax"
              highlight-from="catalog.highlights.priceMin"
              highlight-to="catalog.highlights.priceMax">
    </ui-range>
  </div>
  <each:values in="stats.props">
    <div class="products-filter products-filter-prop">
      <var:name>values_key</var:name>
      <h3>#{name}</h3>
      <each:val in="values">
        <div class="products-filter-value">
          <label class="type-small">
            <input type="checkbox"
                   value="#{val}"
                   ng-checked="catalog.isPropSelected('#{name}', '#{val}')"
                   ng-click="catalog.toggleProp('#{name}', '#{val}')"/>
            <span>#{val}</span>
          </label>
        </div>
      </each:val>
    </div>
  </each:values>
</div>
