<!-- Список продуктов -->
<div class="products-list">
  <div class="grid">
    <each:product in="products.items">
      <a class="products-list-item cell cell-m-1of3 cell-l-1of4"
         href="#{product.url}">
        <div class="products-list-photo"
             style="background-image:url(#{product.photos[0].thumb})">
          <div class="products-list-incart"
               ng-if="cart.containsProduct('#{product._id}')"
               ng-cloak
               title="Этот товар находится в Вашей корзине">
            <i class="icon-cart-add"></i>
            <span>в корзине</span>
          </div>
        </div>
        <h3 class="products-list-title">#{product.title}</h3>
        <div class="products-list-price">
          <if expr="product.priceMin != product.priceMax">от</if>
          #{price(product.priceMin).val}
        </div>
      </a>
    </each:product>
  </div>
</div>
<if expr="products.pages > 1">
  <!-- Страницы, если товаров слишком много -->
  <div class="pager">
    <if expr="products.page > 0">
      <a href="#{products.url}?#{qs.replace({ page: products.page - 1 })}"
         class="pager-link">
        <i class="icon-arrow-left"></i>
      </a>
    </if>
    <each:p in="_.range(0, products.pages)">
      <a href="#{products.url}?#{qs.replace({ page: p })}"
         class="pager-link #{products.page == p ? 'active' : ''}">#{p + 1}</a>
    </each:p>
    <if expr="products.page < products.pages - 1">
      <a href="#{products.url}?#{qs.replace({ page: products.page + 1 })}"
         class="pager-link">
        <i class="icon-arrow-right"></i>
      </a>
    </if>
  </div>
</if>
