<!-- Список продуктов -->
<div class="products-list">
  <div class="grid">
    <each:product in="products.items">
      <a class="products-list-item cell cell-m-1of3 cell-l-1of4"
         href="#{product.url}">
        <div class="products-list-photo"
             style="background-image:url(#{product.photos[0].thumb})">
          <div class="products-list-incart"
               ng-if="cart.containsProduct('#{product._id}')"
               ng-cloak
               title="Этот товар находится в Вашей корзине">
            <i class="icon-cart-add"></i>
            <span>в корзине</span>
          </div>
        </div>
        <h3 class="products-list-title">#{product.title}</h3>
        <div class="products-list-price">
          <if expr="product.priceMin != product.priceMax">от</if>
          #{price(product.priceMin).val}
        </div>
      </a>
    </each:product>
  </div>
  <div class="pager block centered"
       ng-if="#{products.pages > 1}"
       ui-pager="#{products.pages}">
    <a turbolink
       ng-repeat="link in pager.links"
       class="pager-link"
       ng-class="{ active: link.active }"
       ng-bind="link.page + 1"
       ng-href="{{ link.url }}">
    </a>
  </div>
</div>
