<if expr="products.count">
  <div class="products-sort">
    <div class="products-sort-label">Cортировать по</div>
    <a href=""
       class="products-sort-link"
       ng-click="catalog.sort('+price')"
       ng-class="{ active: catalog.filters.sort == '+price'}">
      <span>цене</span>
    </a>
    <a href=""
       class="products-sort-link"
       ng-click="catalog.sort('+title')"
       ng-class="{ active: catalog.filters.sort == '+title'}">
      <span>названию</span>
    </a>
  </div>
</if>
