<include file="/store/_layout.html">

  <def:main>
    <div class="store-products">
      <div class="container">
        <div class="grid grid-gutters">
          <div class="cell cell-m-1">
            <include file="/products/_filters.html"/>
          </div>
          <div class="cell cell-m-4">
            <div class="toolbar">
              <div class="toolbar-group toolbar-group-left">
                <h1>Каталог товаров</h1>
              </div>
              <div class="toolbar-group toolbar-group-right">
                <include file="/products/_sort.html"/>
              </div>
            </div>
            <include file="_list.html"/>
          </div>
        </div>
      </div>
    </div>
  </def:main>

</include>
