// ------
// Алерты
// ------
//
// Используются для привлечения внимания к небольшому отрезку текста.

.alert {
  padding: 0 gap
  border-width: 4px
  border-style: solid
  border-radius: border-radius
}

for c in ui-colors {
  _c = lookup('ui-' + c)

  .alert-{c} {
    border-color: _c
    background: lookup('ui-' + c + '-subtle')
  }
}
