// --------------------
// Статусные сообщения
// --------------------

#app-status {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // bottom: 0;
  z-index: 1000;

  user-select: none;

  text-align: center;
}

.app-status-message {
  display: inline-block;
  padding: .25em .5em;

  border-bottom-left-radius: border-radius;
  border-bottom-right-radius: border-radius;
}

for c in ui-colors {
  .app-status-message-{c} {
    background: lookup('ui-' + c);
    color: lookup('ui-' + c + '-text');
  }
}
