//-------
// Значок
//-------
//
// ```
//  .badge
// [.badge-default | .badge-primary | .badge-action ...]
// [.badge-small | .badge-smaller | .badge-large | .badge-larger]
//   [i | checkbox]
//   span
// ```

.badge {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  padding: 0 gap-small;
  border-width: 1px;
  border-style: solid;
  border-radius: badge-radius;

  text-align: center;
}

.badge-icon {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

for c in ui-colors {
  &.badge-{c} {
    _bg = lookup('ui-' + c);
    _bd = lookup('ui-' + c + '-border');
    _tx = lookup('ui-' + c + '-text');

    background: _bg;
    border-color: _bd;
    color: _tx;
  }
}

.badge-larger { font-size: type-larger }
.badge-large { font-size: type-large }
.badge-small { font-size: type-small }
.badge-smaller { font-size: type-smaller }

.badge-movable {
  cursor: move;
}

.badge.dragging {
  opacity: .5;
}

.badge.drag-over::before {
  content: ''
  position: absolute;
  top: 0;

  display: none;
  margin: 0 .25em;

  border: 7px solid transparent;
  border-top-color: ui-primary;
}

.badge.drag-over-before::before {
  right: 100%;
  display: inline-block;
}
.badge.drag-over-after::before {
  left: 100%;
  display: inline-block;
}
