//---------------
// Группа значков
//---------------
//
// Используется для отображения нескольких значков вместе.
//
// ```
//  <div>.badge-group
//    .badge + .badge
// ```

.badge-group {
  display: inline-flex;
  vertical-align: middle;

  .badge {
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: border-radius;
      border-bottom-left-radius: border-radius;
    }
    &:last-child {
      border-top-right-radius: border-radius;
      border-bottom-right-radius: border-radius;
    }
  }
}