//---------------
// Группа значков
//---------------
//
// Используется для отображения нескольких значков вместе.
//
// ```
//  <div>.badge-group
//    .badge + .badge
// ```

.badge-group {
  display: inline-block
  margin: - gap-smaller
}