// ------
// Кнопка
// ------
//
// Применяется к тегам `<button>` и `<a>` для создания кнопки.
// Тэги `<input type="button"/>` и `<input type="submit"/>` не рекомендуются,
// т.к. не поддерживают псевдоэлементы.
//
// ```
// <a | button | label>.btn
// [.btn-default | .btn-primary | .btn-action | .btn-success | .btn-critical | ...]
// [.btn-small | .btn-smaller | .btn-large | .btn-larger]
//   [i | checkbox]
//   span
// ```

.btn {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box;
  padding: ctl-vertical-padding .75em;
  margin: 0;
  height: ctl-normal-height;

  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;

  border-width: 1px;
  border-style: solid;
  border-radius: border-radius;
  font: inherit;
  white-space: nowrap

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:active, &.active {
    z-index: 2;
  }

  i + *, * + i {
    margin-left: .37em;
  }

}

for c in ui-colors {
  _bg = lookup('ui-' + c);
  _bd = lookup('ui-' + c + '-border');
  _tx = lookup('ui-' + c + '-text');

  &.btn-{c} {
    background: _bg;
    border-color: _bd;
    border-bottom-color: darken(_bd, 15%);
    color: _tx;
    text-shadow: light(_tx) ? 0 1px 1px darken(_bg, 25%) : none;

    &:focus, &:hover {
      color: _tx;
      background: darken(_bg, 10%);
    }

    &:active, &.active {
      background: darken(_bg, 15%);
      border-color: darken(_bd, 15%);
      box-shadow: 0 3px 5px darken(_bd, 15%) inset
    }
  }

  &.btn-{c}-outline {
    border-color: _bg;
    color: _bg;
    background: transparent;
  }
}

.btn-block {
  display: block;
  text-align: center;
}

for s in sizes {
  .btn-{s} {
    font-size: lookup('type-' + s);
    height: lookup('ctl-' + s + '-height');
  }
}
