// ---------
// Контейнер
// ---------
//
// Задает боковые отступы.
//
// Контейнер фиксированной ширины можно задать с помощью модификатора
// `.container-fixed`, либо поместив его в `.fixed-layout`.
//
// ```
// [.fixed-layout]
//   .container
//     {...}
//
// .container[.container-fixed]
//   {...}
// ```

.container {
  clearfix();
  padding-left: gap;
  padding-right: gap;
}

@media (min-width: screen-medium-min) {
  .container-fixed, .fixed-layout .container {
    box-sizing: border-box;
    width: screen-medium-min;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: screen-large-min) {
  .container-fixed, .fixed-layout .container {
    width: screen-large-min;
  }
}
