// -----------------
// Таблица с данными
// -----------------

.datatable {
  width: 100%;

  td, th {
    padding: gap-small;
    font: inherit;
    text-align: left;
  }

  th {
    color: datatable-th-color;
  }

  tbody, tfoot {
    td, th {
      border-top: 1px solid datatable-border-color;
    }
  }

  tbody:first-child tr:first-child {
    td, th {
      border-top: 0;
    }
  }

  thead tr:first-child, tbody:first-child tr:first-child {
    td, th {
      border-top-left-radius: border-radius;
      border-top-right-radius: border-radius;
    }
  }

  tbody:last-child tr:last-child, tfoot:last-child tr:last-child {
    td, th {
      border-bottom: 0;
      border-bottom-left-radius: border-radius;
      border-bottom-right-radius: border-radius;
    }
  }

  tr.dragging {
    opacity: .5;
  }

  tr.drag-over-before {
    border-top: 4px solid ui-primary
  }

  tr.drag-over-after {
    border-bottom: 4px solid ui-primary
  }

  tr:hover {
    td, th {
      background: lighten(ui-default, 75%)
    }
  }

}

.datatable-small {

  td, th {
    padding: (gap-small / 2)
  }

}

@media (max-width: screen-small-max) {

  .datatable-mobile {

    &, tfoot, tbody, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tbody {
      td, th {
        display: flex;
        align-items: center;
        border-bottom: 0;
        width: auto;

        &::before {
          content: attr(title);
          flex: 1;
        }
      }

      tr:not(:last-child) {
        border-bottom: 1px solid datatable-border-color;
      }
    }

  }

  .datatable-cell {
    flex: 1;
  }

}

.datatable-move-handle {
  cursor: move;
}

.datatable-order-control::after {
  content: '\e93d';
  font-family: Linearicons;
  font-size: 10px;
  color: subtle-color;
}

.datatable-order-control.enabled::after {
  content: '\e942';
}

.datatable-order-control.enabled.reverse::after {
  content: '\e941';
}
