// ----------------
// Адаптивная сетка
// ----------------
//
// Сетка, изменяющия положение блоков на различных устройствах.
// Ячейки могут быть одновременно панелями `.pnl`.
//
// Дизайн сеток осуществляется на основе парадигмы mobile-first:
// в начале определяется положение ячеек на мобильных устройствах,
// затем дописываются классы для устройств среднего размера, а лишь затем
// для больших экранов.
//
// ```
// .grid[.grid-gutters][.grid-level-1]
//   .cell[.pnl[...]][.cell-s-1of1][.cell-m-1][.cell-l-2]
//   [.cell]
// ```

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid-align-baseline { align-items: baseline }
.grid-align-center { align-items: center }

.grid-gutters {
  margin: -(gap / 2);

  &.block {
    margin-top: (gap / 2);
    margin-bottom: (gap / 2);
  }

  > .cell {
    margin: (gap / 2);
  }
}

.block + .grid-gutters.block {
  margin-top: -(gap / 2)
}

// --------------
// Размеры ячейки
// --------------
//
// Классы вида `.cell-...-{n}` (пр. `.cell-...-2`) определяют относительный
// размер колонки. Фактический размер определяется исходя из количества колонок
// в строке. В следующем примере первая ячейка занимает треть экрана, а вторая —
// две трети.
//
// ```
// .grid
//   .cell.cell-1
//   .cell.cell-2
// ```
//
// Если добавить еще одну ячейку `.cell.cell-1`, то первая и последняя станут
// занимать четверть экрана каждая, а вторая -- половину.

.cell {
  flex: 100%;
  min-width: 1px;
  box-sizing: border-box;
}

.cell-min { flex: 0 0 auto }

.cell-1of1 { flex: 100% }
.cell-1of2 { flex: 50% }
.cell-1of3 { flex: 33.33% }
.cell-2of3 { flex: 66.66% }
.cell-1of4 { flex: 25% }
.cell-3of4 { flex: 75% }

for i in (1..8) {
  .cell-{i} { flex: i }
}

// ------------
// Mobile first
// ------------
//
// При дизайне сеток сначала определите расположение колонок с помощью
// классов `.cell-{n}`. При отсутствии класса подразумевается ширина 100%.
//
// Затем добавьте классы `.cell-m-{n}` для средних экранов.
//
// Затем добавьте классы `.cell-l-{n}` для больших экранов.

@media (min-width: screen-medium-min) {

  .cell-m-min { flex: 0 0 auto}

  .cell-m-1of1 { flex: 100% }
  .cell-m-1of2 { flex: 50% }
  .cell-m-1of3 { flex: 33.33% }
  .cell-m-2of3 { flex: 66.66% }
  .cell-m-1of4 { flex: 25% }
  .cell-m-3of4 { flex: 75% }

  for i in (1..8) {
    .cell-m-{i} { flex: i }
  }
}

@media (min-width: screen-large-min) {

  .cell-l-min { flex: 0 0 auto }

  .cell-l-1of1 { flex: 100% }
  .cell-l-1of2 { flex: 50% }
  .cell-l-1of3 { flex: 33.33% }
  .cell-l-2of3 { flex: 66.66% }
  .cell-l-1of4 { flex: 25% }
  .cell-l-3of4 { flex: 75% }

  for i in (1..8) {
    .cell-l-{i} { flex: i }
  }

}
