// --------------
// Строчная сетка
// --------------
//
// Элементы в строчной сетке получают одинаковый отступ. Сама сетка
// сохраняет положение за счет отрицательных полей.
//
// ```
// .inline-grid
//   .btn + input + ...
// ```

.inline-grid {
  display: inline-block;
  margin: -(gap-small / 2);

  > * {
    margin: (gap-small / 2);
  }
}
