// ------------
// Группа полей
// ------------
//
// Позволяет сгруппировать несколько текстовых полей или добавить произвольную
// метку (надпись или значок) как часть текстового поля.
//
// ```
// .input-group
//   [.input-group-addon]
//   input
//   [.input-group-addon]
// ```

.input-group {
  display: inline-flex;
  vertical-align: middle;

  input, .input-group-addon {
    margin-left: -1px;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: border-radius;
      border-bottom-left-radius: border-radius;
    }
    &:last-child {
      border-top-right-radius: border-radius;
      border-bottom-right-radius: border-radius;
    }
  }
}

.input-group-block {
  display: flex;
}

.input-group-addon {
  flex: 1 0 auto;
  box-sizing: border-box;
  padding: ctl-vertical-padding .75em;
  height: ctl-normal-height;

  background: ui-default;
  border: 1px solid ui-default-border;
}

for s in sizes {

  .input-group-addon-{s} {
    font-size: lookup('type-' + s);
    height: lookup('ctl-' + s + '-height');
  }

}


