// --------------
// Текстовое поле
// --------------
//
// ```
// <input | select | textarea>.input
// [.input-large | .input-small ...]  // размеры
// [.input-block]       // отображение во всю ширину блока
// [.input-underline]   // только с нижней границей
// ```

.input {
  position: relative;
  z-index: 1;

  display: inline-block;
  box-sizing: border-box
  padding: ctl-vertical-padding .5em;
  height: ctl-normal-height;

  vertical-align: middle;
  outline: 0;

  border-width: 1px;
  border-style: solid;
  border-color: ui-default-border;
  border-radius: border-radius;
  background: ui-base;

  &.ng-dirty.ng-invalid {
    border-color: ui-critical;
    box-shadow: 0 0 6px rgba(ui-critical, .5);
  }

  &:focus {
    border-color: ui-action;
    box-shadow: 0 0 6px rgba(ui-action, .5);
  }

  &[disabled] {
    background: ui-default;
    color: subtle-color;
  }

}

textarea.input {
  height: auto;
  white-space: pre-wrap;
}

// Поля, вытянутые по ширине контейнера

.input-block {
  display: block;
  width: 100%;
}

// Поля, подчеркнутые снизу

.input-underline {
  padding-left: 0
  padding-right: 0
  border-radius: 0
  border-width: 0 0 1px

  &.ng-dirty.ng-invalid {
    box-shadow: 0 6px 6px -6px rgba(ui-critical, .5);
  }

  &:focus {
    box-shadow: 0 6px 6px -6px rgba(ui-action, .5);
  }
}

// Размеры

for s in sizes {
  .input-{s} {
    font-size: lookup('type-' + s);
    height: lookup('ctl-' + s + '-height');
  }
}
