// ------------------------
// Выбор диапазона значений
// ------------------------

.range {
  position: relative;
  margin: gap -16px;
  padding: 0 16px;

  border-radius: border-radius;

}

.range-bar {
  position: relative;
  height: 4px;
  background: ui-default;

  cursor: pointer;
}

.range-highlight {
  position: absolute;
  top: 0;
  bottom: 0;

  background: lighten(ui-primary, 40%);
}

.range-ticks {
  position:relative;
  z-index: 5;
  height: 20px;
}

.range-tick {
  position: absolute;
  top: 0;
  width: 64px;
  margin-left: -32px;

  color: subtle-color;
  text-align: center;
  font-size: type-smaller;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 8px;
    margin-left: -1px;

    background: ui-default-border;
  }
}

.range-tick-0 { left: 0% }
.range-tick-25 { left: 25% }
.range-tick-50 { left: 50% }
.range-tick-75 { left: 75% }
.range-tick-100 { left: 100% }

.range-handles {
  position: relative;
  z-index: 5;
  height: 16px;
}

.range-handle {
  position: absolute;
  top: 0;

  display: block;
  width: 0;
  height: 0;

  cursor: pointer;

  border: 6px solid transparent;
  border-bottom-color: ui-primary;
}

.range-handle-left {
  left: 0;
  margin-left: -12px;
  border-right-color: ui-primary;
}

.range-handle-right {
  left: 100%;
  border-left-color: ui-primary;
}

