// ------------------------
// position:sticky polyfill
// ------------------------

.has-sticky {
  position: relative;
}

.sticky {
  position: relative;
}

.sticky-fixed {
  position: fixed;
  top: 0;
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}
