// -------------
// Переключатель
// -------------
//
// Классический тумблер в стиле «Вкл/выкл».
//
// ```
// label.tumbler[.active]
// [.tumbler-small | .tumbler-large ...]  // размеры
//   input[type='checkbox']
// ```

.tumbler {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  height: ctl-normal-height;
  width: ctl-normal-height * 1.5;

  cursor: pointer;

  border-radius: tumbler-radius;
  box-shadow: 0 1px 8px rgba(0,0,0,.1) inset,
              0 0 1px rgba(0,0,0,.5) inset

  background: ui-default;
  transition: all .3s;

  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;

    display: block;
    box-sizing: border-box;
    width: ctl-normal-height - 4;
    user-select: none;
    touch-action: manipulation;

    border-radius: tumbler-radius - 1;
    background: ui-base;
    box-shadow: 0 0 1px rgba(0,0,0,.5);

    left: 0%;
    margin-left: 2px;
    transition: all .3s;

  }

  &.active {
    background-color: ui-action;
    border-color: ui-action-border;

    &::after {
      left: 100%;
      margin-left: -(ctl-normal-height - 2);
    }

  }

}

// Расчет размеров

for s in sizes {
  _fs = lookup('type-' + s);
  _h = lookup('ctl-' + s + '-height');

  .tumbler-{s} {
    font-size: _fs;
    width: _h * 1.5;
    height: _h;

    &::after {
      width: _h - 4;
    }
    &.active::after {
      margin-left: -(_h - 2)
    }
  }
}
