// ----------------------
// Пользовательские стили
// ----------------------
//
// В эту директорию (`custom`) Вы можете поместить собственные стили,
// переопределяющие те или иные правила из темы, либо добавляющие новые
// компоненты или структуры.
//
// Вносить изменения напрямую в существующие правила темы не рекомендуется,
// так как это может существенно усложнить процесс обновления темы.
//
// По соглашению темы не изменяют файлы, добавляемые в директорию `custom`,
// поэтому стили, добавленные таким образом, не будут перезаписаны при
// очередном обновлении темы.
//
// И последнее: вносить изменения в этот файл также не рекомендуется.
