<form novalidate
      bubble-container
      class="products-filters"
      ng-click="bubble.show($event)"
      ng-submit="catalog.go()">

  <!-- Поиск по цене -->
  <div class="products-filter products-filter-price">
    <h4>Цена</h4>
    <div class="grid grid-gutters">
      <label class="cell cell-m-1">
        <input id="priceMin"
               class="input input-small input-block"
               type="number"
               size="7"
               min="#{stats.priceMin}"
               max="#{stats.priceMax}"
               step="10"
               placeholder="от"
               ng-model="catalog.filters.priceMin"/>
      </label>
      <label class="cell cell-m-1">
        <input id="priceMax"
               class="input input-small input-block"
               type="number"
               size="7"
               min="#{stats.priceMin}"
               max="#{stats.priceMax}"
               step="10"
               placeholder="до"
               ng-model="catalog.filters.priceMax"/>
      </label>
    </div>
    <ui-range min="#{stats.priceMin}"
              max="#{stats.priceMax}"
              start="catalog.filters.priceMin"
              end="catalog.filters.priceMax"
              highlight-from="catalog.hint.priceMin"
              highlight-to="catalog.hint.priceMax"
              change="catalog.fetchHint()">
    </ui-range>
  </div>

  <!-- Поиск по свойствам -->
  <each:prop in="propFilters">
    <var:values>stat.props[prop.name] || []</var:values>
    <div class="products-filter products-filter-prop block">
      <h4>#{prop.name}</h4>
      <each:val in="values">
        <div class="products-filter-value"
             ng-class="{
               disabled: catalog.isPropDisabled('#{prop.name}', '#{val}')
             }">
          <label class="type-small">
            <input type="checkbox"
                   value="#{val}"
                   ng-checked="catalog.isPropSelected('#{prop.name}', '#{val}')"
                   ng-click="catalog.toggleProp('#{prop.name}', '#{val}')"/>
            <span>#{val}</span>
          </label>
        </div>
      </each:val>
    </div>
  </each:prop>

  <!-- Поиск по тегам -->
  <if expr="stats.tags.length">
    <div class="products-filter products-filter-tags block">
      <each:tag in="stats.tags">
        <button type="button"
                class="products-filter-tag"
                ng-click="catalog.toggleTag('#{tag}')"
                ng-class="{
                  active: catalog.isTagSelected('#{tag}'),
                  disabled: catalog.isTagDisabled('#{tag}')
                }">
          <span>#{tag}</span>
        </button>
      </each:tag>
    </div>
  </if>

  <!-- Кнопка «Показать товары» -->
  <div class="block centered"
       ng-if="!catalog.hint.initial"
       ng-cloak>
    <button class="btn btn-primary"
            ng-if="catalog.hint.count > 0"
            type="submit">
      <span ng-bind="
        catalog.hint.count | plural
          : 'Показать %s товар'
          : 'Показать %s товара'
          : 'Показать %s товаров'"></span>
    </button>
    <p class="text-subtle"
       ng-if="catalog.hint.count == 0">
      Нет совпадений.
    </p>
  </div>

  <div class="products-filters-bubble"
       ng-class="{ hidden: bubble.hidden }"
       ng-if="!catalog.hint.initial"
       ng-style="{ top: bubble.offsetY + 'px' }"
       ng-cloak>
    <a href=""
       class="products-filters-bubble-close"
       ng-click="bubble.hide($event)"
       title="Закрыть">
      <i class="icon-cross"></i>
    </a>
    <button class="btn btn-primary"
            ng-if="catalog.hint.count > 0"
            type="submit">
      <span>{{
            catalog.hint.count | plural
            : 'Показать %s товар'
            : 'Показать %s товара'
            : 'Показать %s товаров'
            }}</span>
    </button>
    <p class="text-subtle"
       ng-if="catalog.hint.count == 0">
      Нет совпадений.
    </p>
  </div>

</form>
