<include file="layout.html">

  <def:body>
    <div class="pnl pnl-default pnl-indent pnl-level-1">
      <div class="toolbar">
        <div class="toolbar-group toolbar-group-left">
          <div class="toolbar-title">Панель инструментов</div>
        </div>
        <div class="toolbar-group toolbar-group-right">
          <button class="btn btn-default">
            <span>Кнопка</span>
          </button>
        </div>
      </div>
    </div>
    <div class="workspace-section pnl pnl-primary-subtle">
      <h1>Компоненты</h1>
    </div>
  </def:body>

</include>
