<include file="../../_outer.html">

  <def:body>
    <div class="workspace">
      <div class="workspace-aside">
        <nav class="workspace-nav">
          <a href="/_styles"
             class="workspace-nav-link active"
             title="Компоненты">
            <i class="icon-checkmark-circle workspace-nav-icon"></i>
          </a>
        </nav>
      </div>
      <div class="workspace-main">
        <block:body/>
      </div>
    </div>
  </def:body>

  <def:scripts>
  </def:scripts>

</include>
