// This file contains basic non-semantic styles
// for positioning, hiding, text alignment, coloring,
// media queries and scaffolding.

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

.hidden
  display:none
.inline-block
  display:inline-block !important
.block
  display: block !important
.nowrap
  white-space: nowrap
.no-overflow
  overflow:hidden
.relative
  position:relative
.clear
  clear: both
nobr, .nobr
  white-space: nowrap
.nows
  font-size: 0

// Floating

.left-float { float: left }
.right-float { float: right }
.clear { clear: both }

// Buffers

for d in 'top' 'bottom' 'left' 'right'
  .buf-{d}
    padding-{d}: pad
  .buf-small-{d}
    padding-{d}: (pad / 2)
  .buf-large-{d}
    padding-{d}: (pad * 2)

.pad
  padding-left: gutter
  padding-right: gutter

// Band

.band
  margin: 1em 0
.band-small
  margin: .5em 0
.band-large
  margin: 2em 0

// Alignment

.centered { text-align:center }
.left-align { text-align:left }
.right-align { text-align:right }
.justify { text-align:justify }
.middle, .middle * { vertical-align:middle }
.prewrap { whitespace: pre-wrap }

// Type sizing

.type-enormous
  font-size: type-enormous
.type-largest
  font-size: type-largest
.type-larger
  font-size: type-larger
.type-large
  font-size: type-large
.type-small
  font-size: type-small
.type-smaller
  font-size: type-smaller
.type-smallest
  font-size: type-smallest
.type-tiny
  font-size: type-tiny

// Brand colors

for b in brand-colors
  &.color-{b}
    color: lookup('brand-' + b) !important

.color-subtle
  color: text-subtle-color

// Responsive visibility

@media screen and (max-width: screen-small-max)
  .no-small-screen { display:none !important}

@media screen and (min-width: screen-medium-min)
  .small-screen { display:none !important }

@media screen and (max-width: screen-medium-max)
  .large-screen { display:none !important }

@media screen and (min-width: screen-large-min)
  .no-large-screen { display:none !important }

// Corner positioning

.corner-left
  position: absolute
  top: -4px
  left: -4px

.corner-right
  position: absolute
  top: -4px
  right: -4px

// Draggable stuff

[draggable]
  user-select: none
  *
    user-drag: none

// Opacity levels

.dimmed
  opacity: .5
