font-size ?= 16px
font-main ?= PT Sans, sans-serif
font-weight ?= 400

line-height ?= 1.5

type-enormous ?= 48px
type-largest ?= 28px
type-larger ?= 24px
type-large ?= 20px
type-small ?= 14px
type-smaller ?= 12px
type-smallest ?= 10px
type-tiny ?= 8px

type-antialiasing ?= true

radius ?= 4px

screen-small-max ?= 639px
screen-medium-min ?= 640px
screen-medium-max ?= 1023px
screen-large-min ?= 1024px

gutter ?= 16px
spacing ?= (gutter / 2)
pad ?= 32px

// Brand colors

brand-colors = 'default' 'primary' 'info' 'success' 'warn' 'critical' 'blank' 'inverse'

brand-default ?= #f5f5f5
brand-default-text ?= text-color

brand-primary ?= hsl(208deg, 60%, 45%)
brand-primary-text ?= #fff

brand-info ?= hsl(192deg, 60%, 50%)
brand-info-text ?= #fff

brand-success ?= hsl(132deg, 40%, 50%)
brand-success-text ?= #fff

brand-warn ?= hsl(44deg, 85%, 75%)
brand-warn-text ?= darken(brand-warn, 75%)

brand-critical ?= hsl(0deg, 75%, 60%)
brand-critical-text ?= #fff

brand-blank ?= #fff
brand-blank-text ?= #333

brand-inverse ?= darken(brand-info, 80%)
brand-inverse-text ?= brand-info

// Components

body-bg ?= brand-blank

text-color ?= brand-blank-text
text-subtle-color ?= #777

link-color ?= brand-info
link-hover-color ?= lighten(brand-info, 25%)

strong-color ?= text-color
em-color ?= darken(brand-primary, 25%)

hr-color ?= brand-default

ui-shadow ?= 0 0 1px #ccc

drawer-bg ?= brand-inverse
drawer-color ?= brand-inverse-text
drawer-active-bg ?= brand-info
drawer-active-color ?= drawer-bg

dropdown-bg ?= #fff
dropdown-color ?= text-color
dropdown-hover-color ?= link-color

input-bg ?= #fff
input-border ?= darken(brand-default, 15%)
input-color ?= text-color

stacknav-color ?= text-subtle-color
stacknav-hover-color ?= link-color
stacknav-active-color ?= brand-primary
stacknav-size ?= 14px

breadcrumbs-color ?= text-subtle-color
breadcrumbs-hover-color ?= link-color
breadcrumbs-active-color ?= brand-primary
breadcrumbs-size ?= 14px

backdrop-bg ?= lighten(desaturate(brand-info, 60%), 80%)
backdrop-color ?= text-color

table-border ?= brand-default
table-th-color ?= text-subtle-color
table-th-weight ?= font-weight
table-th-size ?= type-small

magnifier-size ?= 240px

// Common typography

h1-font-size ?= 32px
h1-font-style ?= normal
h1-line-height ?= 1.25
h1-font-weight ?= 400
h1-font ?= font-main

h2-font-size ?= 24px
h2-font-style ?= normal
h2-line-height ?= 1.25
h2-font-weight ?= 400
h2-font ?= font-main

h3-font-size ?= 20px
h3-font-style ?= normal
h3-line-height ?= 1.25
h3-font-weight ?= 400
h3-font ?= font-main

h4-font-size ?= 20px
h4-font-style ?= normal
h4-line-height ?= 1.5
h4-font-weight ?= 400
h4-font ?= font-main

h5-font-size ?= 18px
h5-font-style ?= normal
h5-line-height ?= 1.5
h5-font-weight ?= 400
h5-font ?= font-main

h6-font-size ?= 16px
h6-font-style ?= normal
h6-line-height ?= 1.5
h6-font-weight ?= 400
h6-font ?= font-main
