@font-face {
  font-family: 'Arsenal'
  font-style: normal
  font-weight: normal
  src: local('Arsenal'),
  local('Arsenal Regular'),
  url('/themes/default/static/fonts/Arsenal-Regular.ttf')
}

// PT Sans

@font-face {
  font-family: 'PT Sans'
  font-style: normal
  font-weight: normal
  src: local('PT Sans'),
  url('/themes/default/static/fonts/PTSans.ttf')
}

@font-face {
  font-family: 'PT Sans'
  font-style: normal
  font-weight: bold
  src: local('PT Sans Bold'),
  url('/themes/default/static/fonts/PTSans-Bold.ttf')
}

@font-face {
  font-family: 'PT Sans'
  font-style: italic
  font-weight: bold
  src: local('PT Sans Bold Italic'),
  url('/themes/default/static/fonts/PTSans-BoldItalic.ttf')
}

@font-face {
  font-family: 'PT Sans'
  font-style: italic
  font-weight: normal
  src: local('PT Sans Italic'),
  url('/themes/default/static/fonts/PTSans-Italic.ttf')
}
