html, body
  margin: 0
  padding: 0

  background: body-bg
  color: text-color

  font: font-weight font-size/line-height font-main
  text-rendering: optimizeLegibility


if type-antialiasing
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
    html, body
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

#outer
  overflow: hidden

.container
  margin-left: auto
  margin-right: auto

  padding-left: 8px
  padding-right: 8px

@media (min-width: screen-medium-min)
  .container
    padding-left: pad
    padding-right: pad

// Drawer layout

.layout-drawer
  section
    position: relative

  aside
    position: relative
    z-index: 500
    overflow: auto

    background: drawer-bg
    color: drawer-color

    font-size: 0
    white-space: nowrap

    a
      position: relative
      display: inline-block

      text-shadow: 0 1px 1px rgba(0,0,0,.5)

      line-height: 48px
      font-size: font-size
      white-space: nowrap

      i
        position: relative
        top: -2px
        width: 48px

        font-size: 20px
        vertical-align: middle
        text-align: center

      &.active
        color: drawer-active-color
        background: drawer-active-bg
        text-shadow: none

        &::before
          content:''
          position:absolute
          left: 0
          right: 0
          bottom: 0

          display:block
          height: 4px

          background: drawer-color

@media (min-width: screen-medium-min)
  .layout-drawer
    section
      margin-left: 48px

    aside
      position: fixed
      top: 0
      left: 0
      bottom: 0
      width: 48px

      a
        display: block

        &.active::before
          top: 0
          bottom: 0
          right: 0
          left: auto

          width: 4px
          height: auto


@media (min-width: screen-large-min)
  .layout-drawer
    section
      margin-left: 208px

    aside
      width: 208px

      a
        line-height: 48px

        &::after
          content: attr(title)

// Column layout

@media (min-width: screen-medium-min)
  .layout-column
    .container
      box-sizing: border-box
      width: screen-medium-min

@media (min-width: screen-large-min)
  .layout-column
    .container
      width: screen-large-min
