clearfix()
  &::before, &::after
    content:''
    display: table
  &::after
    clear: both

ctl()
  display: inline-block
  position: relative
  padding: 6px 12px
  border: 1px solid #ddd
  box-sizing: border-box
  white-space: nowrap
  border-radius: radius
  outline: 0
  appearance: none
  text-decoration: none
  text-transform: none
  overflow: visible
  font-family: font-main
  font-size: font-size
  &::-moz-focus-inner
    border: 0
    padding: 0

  &.small
    padding: 4px 6px
    font-size: type-small

  & + *
    margin-left: spacing
