clearfix()
  &::before, &::after
    content:''
    display: table
  &::after
    clear: both

ctl()
  display: inline-block
  position: relative
  padding: 6px 12px
  height: 34px
  font-family: font-main
  font-size: font-size
  border: 1px solid #ddd
  box-sizing: border-box
  white-space: nowrap
  border-radius: radius
  outline: 0
  appearance: none
  text-decoration: none
  text-transform: none
  overflow: visible
  &::-moz-focus-inner
    border: 0
    padding: 0

  &.small
    height: 28px
    padding: 4px 8px
    font-size: type-small
  &.large
    height: 40px
    padding: 6px 16px
    font-size: type-large



spaced()
  & + *
    margin-left: (gutter / 2)
