// ----
// Ядро
// ----

@import './core/reset'
@import './core/fonts'
@import './core/variables'
@import './core/mixins'
@import './core/base'
@import './core/helpers'

// ---------------------------------
// Стили от сторонних производителей
// ---------------------------------

@import './vendor/icons.css'

// ----------
// Компоненты
// ----------
//
// Автономные модули, формирующие пользовательский интерфейс
// (сетки, кнопки, формы, панели и т.д.).

@import './components/*'

// ---------
// Структуры
// ---------

@import './structures/*'

// ---------
// Черновики
// ---------
//
// Ниже можно поместить временные стили, чтобы «срочно починить этот баг в Firefox».
//
// В дальнейшем веб-дизайнеры или верстальщики, ответственные за проект,
// могут определить для них подходящее место.

