// ----
// Ядро
// ----

@import './core/reset'
@import './core/fonts'
@import './core/variables'
@import './core/mixins'
@import './core/base'
@import './core/helpers'

// ---------------------------------
// Стили от сторонних производителей
// ---------------------------------

@import './vendor/fontawesome.css'

// ----------
// Компоненты
// ----------
//
// Автономные модули, формирующие пользовательский интерфейс
// (сетки, кнопки, формы, панели и т.д.).
//
// При переопределении компонентов следует иметь в виду, что они
// используются в системных интерфейсах (личный кабинет, администрирование).
// Во избежание конфликтов переопределяйте только безопасные свойства
// (цвета, прозрачность, тени, радиус углов и т.д.) и избегайте свойства,
// отвечающие за позиционирование (`position`, `display`, `padding`, `margin`,
// `line-height`, `overflow`, `box-sizing`, `vertical-align` и т.д.)

@import './components/row'
@import './components/container'
@import './components/loading'

// ---------
// Структуры
// ---------

@import './structures/workspace'

// ---------
// Черновики
// ---------
//
// Ниже можно поместить временные стили, чтобы «срочно починить этот баг в Firefox».
//
// В дальнейшем веб-дизайнеры или верстальщики, ответственные за проект,
// могут определить для них подходящее место.

html {
  font-family: font-family
}
