.category-list-item {
  display: flex;
  align-items: center;
  border: 1px solid ui-default;
  margin-top: -1px;
  overflow: hidden

  &:first-child {
    border-top-left-radius: border-radius;
    border-top-right-radius: border-radius;
  }
  &:last-child {
    border-bottom-left-radius: border-radius;
    border-bottom-right-radius: border-radius;
  }
  &:hover {
    background: lighten(ui-default, 75%);
  }
}

.category-list-photo {
  clearfix();
  background: ui-default;
  width: category-list-photo-width;
}

.category-list-nophoto {
  text-align: center;
  padding: gap 0;
  i {
    font-size: 3em;
    vertical-align: middle;
    color: subtle-color;
  }
}

.category-list-description {
  margin-left: gap;
}

.category-list-price {
  margin-top: -(gap)
}

