// ----------------------
// Экран с пустым списком
// ----------------------
//
// Используется на страницах вида «Ничего не найдено»,
// «Добавьте первый товар» и т.д.

.empty-list {
  margin: gap-larger;
  text-align: center;
}

.empty-list-small-gutter {
  margin: gap-small;
  text-align: center;
}

.empty-list-icon {
  font-size: 10em;
  border-radius: 128px;
  color: ui-primary;
  text-align: center;
}

.empty-list-message {
  font-size: type-large;
}
