// ---------------
// Просмотр товара
// ---------------
//
// Оформление основной страницы товара (витрины).
// Базовая тема не определяет дополнительных стилей оформления, с целью
// упрощения разработки кастомного дизайна и переопределения основных компонентов.
//
// Веб-дизайнерам рекомендуется скопировать этот файл в `custom` и
// задать свои стили в нем. Если требуется переопределить стили стандартных
// компонентов (кнопок, значков и т.п.), то можно использовать селекторы
// с вложенностью (пр. `.product-view-purchase .btn`).

.product-view {

}

.product-view-photos {

}

.product-view-purchase {

}

.product-view-title {

}

.product-view-description {

}

.product-view-props {

}
