// -------------------
// Компоновка магазина
// -------------------
//
// Базовая тема включает минимум стилей для упрощения разработки
// уникального дизайна.

.store-layout {
  background: ui-base;
}

.store-header {
  font-size: type-large;
  padding: gap 0;
}
