// --------------------------
// Компоновка рабочей области
// --------------------------
//
// Используется в административном интерфейсе и содержит адаптивное
// навигационное меню (сверху на мобильных телефонах, фиксированное слева
// на планшетах и компьютерах).
//
// ```
// .workspace
//   .workspace-aside
//     .workspace-nav
//       a.workspace-nav-link
//         i.workspace-nav-icon
//   .workspace-main
//     { ... }
//     .workspace-section
// ```

.workspace-main {
  clearfix();
  position: relative;
}

.workspace-aside {
  position: relative;
  z-index: 500;
  overflow: auto;

  background: workspace-aside-background;

  font-size: 0;
  white-space: nowrap;
}

.workspace-nav-link {
  position: relative;
  display: inline-block;

  font-size: font-size;
  line-height: 48px;
  white-space: nowrap;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  background: workspace-nav-link-background;
  color:      workspace-nav-link-color;

  &:hover {
    color: lighten(workspace-nav-link-color, 15%);
  }

  &.active {
    background: workspace-nav-link-active-background;
    color:      workspace-nav-link-active-color;
    text-shadow: none;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      display: block;
      height: 4px;

      background: workspace-nav-link-color;
    }
  }

}

.workspace-nav-icon {
  position: relative;
  top: -2px;
  width: 48px;

  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: screen-medium-min) {

  .workspace-main {
    margin-left: 48px;
    min-height: 100vh;
  }

  .workspace-aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
  }

  .workspace-nav-link {
    display: block

    &.active::before {
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;

      width: 4px;
      height: auto;
    }
  }

}

@media (min-width: screen-large-min) {

  .workspace-main {
    margin-left: 208px;
  }

  .workspace-aside {
    width: 208px;
  }

  .workspace-nav-link {
    &::after {
      content: attr(title)
    }
  }

}

// Разделы рабочей области используются для составления одностраничных
// административных интерфейсов

.workspace-section {
  padding: 0 gap;
}

.workspace-section + .workspace-section {
  border-top: 1px solid lighten(desaturate(ui-primary, 60%), 40%)
}
