<!-- Карусель с фотографиями -->
<div class="block"
     ng-if="p.filteredPhotos.length">
  <div class="carousel carousel-3d"
       ui-carousel="p.filteredPhotos">
    <div class="carousel-items carousel-items-3d">
      <div class="carousel-item carousel-item-3d"
           ng-class="carousel.getClass($index)"
           ng-repeat="photo in p.filteredPhotos track by $index">
        <img ng-src="{{ photo.large }}"
             ui-zoom="photo.large"/>
      </div>
    </div>
    <div class="carousel-nav block"
         ng-if="p.filteredPhotos.length > 1">
      <a href=""
         class="carousel-nav-link"
         ng-click="carousel.go($index)"
         ng-repeat="photo in p.filteredPhotos track by $index">
        <img ng-src="{{ photo.thumb }}"
             class="image-thumb"/>
      </a>
    </div>
  </div>
</div>
<!-- Нет фотографий -->
<div ng-if="!p.filteredPhotos.length"
     ng-cloak>
  <div class="image-placeholder image-placeholder-large">
    <p>Нет фотографии</p>
  </div>
</div>
