<div class="product-view-purchase"
     ng-cloak>
  <div class="block grid grid-gutters grid-align-baseline"
       ng-repeat="opt in product.options">
    <div class="cell cell-m-1">
      {{ opt.name }}:
    </div>
    <div class="cell cell-m-4">
      <div class="btn-group">
        <button type="button"
                class="btn btn-default btn-small"
                ng-class="{
                  active: p.isOptionSelected(opt, value)
                }"
                ng-repeat="value in opt.values"
                ng-click="p.toggleOption(opt, value)"
                ng-disabled="p.isOptionDisabled(opt, value)">
          {{ value }}
        </button>
      </div>
    </div>
  </div>
  <div class="grid grid-gutters grid-align-baseline block">
    <div class="cell cell-m-1">
      Цена:
    </div>
    <div class="cell cell-m-4">
      <div ng-show="p.variant"
           class="type-large">
        {{ p.variant.price | price }}
      </div>
      <div class="text-subtle"
           ng-hide="p.variant">
        пожалуйста, уточните параметры
      </div>
      <div class="block"
           ng-show="p.variant">
        <div class="inline-grid">
          <button type="button"
                  class="btn btn-primary"
                  ng-if="p.getQuantityInCart() == 0"
                  ng-click="p.addToCart()">
            <span>Добавить в корзину</span>
          </button>
          <div class="btn-group"
               ng-if="p.getQuantityInCart() > 0">
            <button type="button"
                    class="btn btn-primary active"
                    ng-click="p.addToCart()">
              <span>В корзине {{ p.getQuantityInCart() }}</span>
            </button>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="p.addToCart()">
              <i class="icon-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
