<!-- Выбор опций (параметров) товара и добавление в корзину -->
<div ng-cloak>

  <!-- Опции -->
  <div class="block grid grid-gutters grid-align-baseline"
       ng-repeat="opt in product.options track by $index">
    <div class="cell cell-m-1"
         ng-bind="opt.name">
    </div>
    <div class="cell cell-m-4">
      <div class="btn-group">
        <button type="button"
                class="btn btn-default btn-small"
                ng-class="{
                  active: p.isOptionSelected(opt, value)
                }"
                ng-repeat="value in opt.values track by $index"
                ng-click="p.toggleOption(opt, value)"
                ng-disabled="p.isOptionDisabled(opt, value)"
                ng-bind="value">
        </button>
      </div>
    </div>
  </div>

  <!-- Цена отображается, когда выбраны все опции -->
  <div class="grid grid-gutters grid-align-baseline block">
    <div class="cell cell-m-1">
      Цена
    </div>
    <div class="cell cell-m-4">
      <div ng-show="p.variant"
           class="type-large"
           ng-bind="p.variant.price | price"></div>
      <div class="text-subtle"
           ng-hide="p.variant">
        пожалуйста, уточните параметры
      </div>
      <div class="block"
           ng-show="p.variant">
        <div class="inline-grid">
          <button type="button"
                  class="btn btn-primary"
                  ng-if="p.getQuantityInCart() == 0"
                  ng-click="p.addToCart()">
            <span>Добавить в корзину</span>
          </button>
          <div class="btn-group"
               ng-if="p.getQuantityInCart() > 0">
            <button type="button"
                    class="btn btn-primary active"
                    ng-click="p.addToCart()">
              <span>В корзине
                <span ng-bind="p.getQuantityInCart()"></span>
              </span>
            </button>
            <button type="button"
                    class="btn btn-primary"
                    title="Добавить еще"
                    ng-click="p.addToCart()">
              <i class="icon-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
