<include file="_layout.html">

  <def:title>#{product.title} — #{store.title}</def:title>

  <def:main>
    <div class="product-view"
         ng-controller="ProductController as p">
      <div class="container">
        <include file="_breadcrumbs.html"/>
      </div>
      <div class="container">
        <div class="grid grid-gutters">
          <div class="cell cell-m-1">
            <include file="_photos.html"/>
          </div>
          <div class="cell cell-m-2">
            <h1>
              #{product.title}
              <div class="small">#{product.subtitle}</div>
            </h1>
            <include file="_purchase.html"/>
            <div class="product-view-description">
              !{product.descriptionHtml}
            </div>
            <include file="_attributes.html"/>
          </div>
        </div>
      </div>
      <if expr="similar.length">
        <div class="container">
          <h2>Похожие товары</h2>
          <include file="_similar.html"/>
        </div>
      </if>
    </div>
  </def:main>

</include>
