<include file="_layout.html">

  <def:main>
    <div class="product-view container"
         ng-controller="ProductController as p">
      <include file="_breadcrumbs.html"/>
      <div class="row band">
        <div class="product-photos col-4">
          <include file="_photos.html"/>
        </div>
        <div class="product-showcase col-8">
          <h1>
            #{product.title}
            <div class="small">#{product.subtitle}</div>
          </h1>
          <div class="product-purchase" ng-cloak>
            <include file="_purchase.html"/>
          </div>
        </div>
      </div>
      <div class="row band">
        <div class="product-props col-4">
          <h3>Характеристики</h3>
          <table class="datatable wide rows">
            <each:prop in="product.props">
              <if expr="prop.values.length == 1">
                <tr>
                  <td>#{prop.name}</td>
                  <td>#{prop.values[0]}</td>
                </tr>
              </if>
            </each:prop>
          </table>
        </div>
        <div class="product-description col-8">
          <h3>Описание</h3>
          !{product.descriptionHtml}
        </div>
      </div>
    </div>
  </def:main>

</include>
