<include file="_layout.html">

  <def:title>Галерея — #{store.title}</def:title>

  <def:main>
    <div class="gallery-view">
      <div class="container">
        <include file="_breadcrumbs.html"/>
      </div>
      <div class="container">
        <div class="gallery-items">
          <each:item in="gallery.items">
            <a href=""
               class="gallery-item"
               ui-zoom="'#{item.photo.large}'"
               style="background-image:url(#{item.photo.thumb})"
               title="#{item.title}">
            </a>
          </each:item>
        </div>
        <if expr="gallery.pages > 1">
          <div class="pager block centered">
            <if expr="gallery.page > 0">
              <a href="/gallery?#{qs.replace({ page: gallery.page - 1 })}"
                 class="pager-link">
                <i class="icon-arrow-left"></i>
              </a>
            </if>
            <each:p in="_.range(0, gallery.pages)">
              <a href="/gallery?#{qs.replace({ page: p })}"
                 class="pager-link #{gallery.page == p ? 'active' : ''}">#{p + 1}</a>
            </each:p>
            <if expr="gallery.page < gallery.pages - 1">
              <a href="/gallery?#{qs.replace({ page: gallery.page + 1 })}"
                 class="pager-link">
                <i class="icon-arrow-right"></i>
              </a>
            </if>
          </div>
        </if>
      </div>
    </div>
  </def:main>

</include>
