html,
body,
form,
fieldset,
img{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
}
button,
input,
select,
textarea{
  font:inherit;
  white-space:inherit;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:'Arsenal';
  font-style:normal;
  font-weight:normal;
  src:local('Arsenal'), local('Arsenal Regular'), url("/static/fonts/Arsenal-Regular.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:normal;
  font-weight:bold;
  src:local('Arsenal'), local('Arsenal Bold'), url("/static/fonts/Arsenal-Bold.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:italic;
  font-weight:normal;
  src:local('Arsenal'), local('Arsenal Italic'), url("/static/fonts/Arsenal-Italic.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:italic;
  font-weight:bold;
  src:local('Arsenal'), local('Arsenal Bold Italic'), url("/static/fonts/Arsenal-BoldItalic.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:normal;
  font-weight:normal;
  src:local('PT Sans'), url("/static/fonts/PTSans.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:normal;
  font-weight:bold;
  src:local('PT Sans Bold'), url("/static/fonts/PTSans-Bold.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:italic;
  font-weight:bold;
  src:local('PT Sans Bold Italic'), url("/static/fonts/PTSans-BoldItalic.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:italic;
  font-weight:normal;
  src:local('PT Sans Italic'), url("/static/fonts/PTSans-Italic.ttf");
}
html,
body{
  overflow-x:hidden;
  font:400 16px/1.5 Arsenal, sans-serif;
  background:#fff;
  color:#333;
  text-rendering:optimizeLegibility;
}
a{
  text-decoration:none;
  color:#2e77b8;
}
a:hover{
  color:#579ad5;
}
strong,
.strong{
  font-weight:bold;
  color:#333;
}
em,
.em{
  font-style:italic;
  color:#333;
}
strike,
.strike{
  text-decoration:line-through;
}
img{
  vertical-align:middle;
  max-width:100%;
}
p,
ol,
ul,
dl,
li,
dt,
dd{
  margin:1em 0;
}
ul,
ol{
  margin:0.5em 0;
}
h1,
h2,
h3{
  margin:0.5em 0;
  line-height:1.25;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small{
  font-weight:400;
  font-size:60%;
  color:#858585;
}
h4,
h5,
h6{
  margin:0.5em 0;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small{
  font-weight:400;
  font-size:60%;
  color:#858585;
}
dl,
dt,
dd{
  display:block;
}
dt{
  font-weight:bold;
}
dd{
  margin-left:1em;
  padding-left:1em;
  border-left:4px solid #eee;
}
hr{
  margin:1em 0;
  border:0;
  border-bottom:1px solid #eee;
}
hr.bold{
  border-width:4px;
}
input[type='checkbox'],
input[type='radio']{
  margin:0;
  padding:0;
}
.block{
  margin:1em 0;
}
.hero{
  padding-top:4em;
  padding-bottom:4em;
}
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak{
  display:none !important;
}
.nobr{
  white-space:nowrap;
}
.prewrap{
  white-space:pre-wrap;
}
.align-left{
  text-align:left;
}
.align-right{
  text-align:right;
}
.align-center,
.centered{
  text-align:center;
}
.type-larger{
  font-size:2em;
}
.type-large{
  font-size:1.25em;
}
.type-small{
  font-size:0.875em;
}
.type-smaller{
  font-size:0.75em;
}
@media (max-width: 639px){
  .hide-s{
    display:none !important;
  }
}
@media (min-width: 640px){
  .show-s{
    display:none !important;
  }
}
@media (min-width: 1024px){
  .hide-l{
    display:none !important;
  }
}
@media (max-width: 1023px){
  .show-l{
    display:none !important;
  }
}
.text-base{
  color:#fff;
}
.text-default{
  color:#eee;
}
.text-primary{
  color:#31a6c4;
}
.text-action{
  color:#2e77b8;
}
.text-success{
  color:#39ac67;
}
.text-warn{
  color:#f5d989;
}
.text-critical{
  color:#db1f1f;
}
.text-subtle{
  font-size:0.875em;
  font-style:italic;
  color:#858585;
}
.opacity-25{
  opacity:0.25;
}
.opacity-50{
  opacity:0.5;
}
.opacity-75{
  opacity:0.75;
}
.image-block{
  width:100%;
}
.alert{
  padding:0 1em;
  border-width:4px;
  border-style:solid;
  border-radius:4px;
}
.alert-base{
  border-color:#fff;
  background:#fff;
}
.alert-default{
  border-color:#eee;
  background:#f8f8f8;
}
.alert-primary{
  border-color:#31a6c4;
  background:#bdd2d7;
}
.alert-action{
  border-color:#2e77b8;
  background:#b9c8d5;
}
.alert-success{
  border-color:#39ac67;
  background:#bbd2c5;
}
.alert-warn{
  border-color:#f5d989;
  background:#eee9dd;
}
.alert-critical{
  border-color:#db1f1f;
  background:#dbbbbb;
}
#app-status{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  text-align:center;
}
.app-status-message{
  display:inline-block;
  padding:0.25em 0.5em;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.app-status-message-base{
  background:#fff;
  color:#404040;
}
.app-status-message-default{
  background:#eee;
  color:#3b3b3b;
}
.app-status-message-primary{
  background:#31a6c4;
  color:#fff;
}
.app-status-message-action{
  background:#2e77b8;
  color:#fff;
}
.app-status-message-success{
  background:#39ac67;
  color:#fff;
}
.app-status-message-warn{
  background:#f5d989;
  color:#584307;
}
.app-status-message-critical{
  background:#db1f1f;
  color:#fff;
}
.badge-group{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}
.badge-group .badge{
  margin-left:-1px;
  border-radius:0;
}
.badge-group .badge:first-child{
  border-top-left-radius:1000px;
  border-bottom-left-radius:1000px;
}
.badge-group .badge:last-child{
  border-top-right-radius:1000px;
  border-bottom-right-radius:1000px;
}
.badge{
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  padding:0 0.5em;
  border-width:1px;
  border-style:solid;
  border-radius:1000px;
  text-align:center;
}
.badge-icon{
  position:relative;
  top:-1px;
  vertical-align:middle;
}
.badge-base,
.badge-base:hover,
.badge-base:visited{
  background:#fff;
  border-color:#e6e6e6;
  color:#404040;
}
.badge-default,
.badge-default:hover,
.badge-default:visited{
  background:#eee;
  border-color:#d6d6d6;
  color:#3b3b3b;
}
.badge-primary,
.badge-primary:hover,
.badge-primary:visited{
  background:#31a6c4;
  border-color:#2a8da7;
  color:#fff;
}
.badge-action,
.badge-action:hover,
.badge-action:visited{
  background:#2e77b8;
  border-color:#27659c;
  color:#fff;
}
.badge-success,
.badge-success:hover,
.badge-success:visited{
  background:#39ac67;
  border-color:#309258;
  color:#fff;
}
.badge-warn,
.badge-warn:hover,
.badge-warn:visited{
  background:#f5d989;
  border-color:#f2ce66;
  color:#584307;
}
.badge-critical,
.badge-critical:hover,
.badge-critical:visited{
  background:#db1f1f;
  border-color:#ba1a1a;
  color:#fff;
}
.badge-larger{
  font-size:2em;
}
.badge-large{
  font-size:1.25em;
}
.badge-small{
  font-size:0.875em;
}
.badge-smaller{
  font-size:0.75em;
}
.badge-movable{
  cursor:move;
}
.badge.dragging{
  opacity:0.5;
}
.badge.drag-over::before{
  content:'';
  position:absolute;
  top:0;
  display:none;
  margin:0 0.25em;
  border:7px solid transparent;
  border-top-color:#31a6c4;
}
.badge.drag-over-before::before{
  right:100%;
  display:inline-block;
}
.badge.drag-over-after::before{
  left:100%;
  display:inline-block;
}
.breadcrumbs{
  font-size:0.875em;
}
.breadcrumbs-item{
  display:inline-block;
}
.breadcrumbs-item::after{
  content:'\e93c';
  margin:0 0.5em;
  color:#858585;
  font-family:Linearicons;
  font-size:10px;
}
.btn-group{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}
.btn-group .btn{
  margin-left:-1px;
  border-radius:0;
}
.btn-group .btn:first-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.btn-group .btn:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.btn{
  position:relative;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
  padding:0.25em 0.75em;
  margin:0;
  height:34px;
  vertical-align:middle;
  outline:0;
  cursor:pointer;
  -ms-touch-action:manipulation;
      touch-action:manipulation;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  border-width:1px;
  border-style:solid;
  border-radius:4px;
  font:inherit;
  white-space:nowrap;
}
.btn::-moz-focus-inner{
  border:0;
  padding:0;
}
.btn:active,
.btn.active{
  z-index:2;
}
.btn i + *,
.btn * + i,
.btn input + *,
.btn * + input{
  margin-left:0.37em;
}
.btn-base{
  background:#fff;
  border-color:#e6e6e6;
  border-bottom-color:#c4c4c4;
  color:#404040;
}
.btn-base:focus,
.btn-base:hover{
  color:#404040;
  background:#f2f2f2;
}
.btn-base:active,
.btn-base.active{
  background:#d9d9d9;
  border-color:#c4c4c4;
  box-shadow:0 3px 5px #c4c4c4 inset;
}
.btn-base[disabled]{
  opacity:0.5;
  background:#fff;
  cursor:not-allowed;
}
.btn-default{
  background:#eee;
  border-color:#d6d6d6;
  border-bottom-color:#b6b6b6;
  color:#3b3b3b;
}
.btn-default:focus,
.btn-default:hover{
  color:#3b3b3b;
  background:#e2e2e2;
}
.btn-default:active,
.btn-default.active{
  background:#cacaca;
  border-color:#b6b6b6;
  box-shadow:0 3px 5px #b6b6b6 inset;
}
.btn-default[disabled]{
  opacity:0.5;
  background:#eee;
  cursor:not-allowed;
}
.btn-primary{
  background:#31a6c4;
  border-color:#2a8da7;
  border-bottom-color:#24788e;
  color:#fff;
  text-shadow:0 1px 1px #257c93;
}
.btn-primary:focus,
.btn-primary:hover{
  color:#fff;
  background:#2f9eba;
}
.btn-primary:active,
.btn-primary.active{
  background:#2a8da7;
  border-color:#24788e;
  box-shadow:0 3px 5px #24788e inset;
}
.btn-primary[disabled]{
  opacity:0.5;
  background:#56909f;
  cursor:not-allowed;
}
.btn-action{
  background:#2e77b8;
  border-color:#27659c;
  border-bottom-color:#215685;
  color:#fff;
  text-shadow:0 1px 1px #22598a;
}
.btn-action:focus,
.btn-action:hover{
  color:#fff;
  background:#2c71af;
}
.btn-action:active,
.btn-action.active{
  background:#27659c;
  border-color:#215685;
  box-shadow:0 3px 5px #215685 inset;
}
.btn-action[disabled]{
  opacity:0.5;
  background:#517596;
  cursor:not-allowed;
}
.btn-success{
  background:#39ac67;
  border-color:#309258;
  border-bottom-color:#297c4b;
  color:#fff;
  text-shadow:0 1px 1px #2b814d;
}
.btn-success:focus,
.btn-success:hover{
  color:#fff;
  background:#36a362;
}
.btn-success:active,
.btn-success.active{
  background:#309258;
  border-color:#297c4b;
  box-shadow:0 3px 5px #297c4b inset;
}
.btn-success[disabled]{
  opacity:0.5;
  background:#568f6d;
  cursor:not-allowed;
}
.btn-warn{
  background:#f5d989;
  border-color:#f2ce66;
  border-bottom-color:#eebf36;
  color:#584307;
}
.btn-warn:focus,
.btn-warn:hover{
  color:#584307;
  background:#f4d377;
}
.btn-warn:active,
.btn-warn.active{
  background:#f1c854;
  border-color:#eebf36;
  box-shadow:0 3px 5px #eebf36 inset;
}
.btn-warn[disabled]{
  opacity:0.5;
  background:#dacca4;
  cursor:not-allowed;
}
.btn-critical{
  background:#db1f1f;
  border-color:#ba1a1a;
  border-bottom-color:#9e1616;
  color:#fff;
  text-shadow:0 1px 1px #a41717;
}
.btn-critical:focus,
.btn-critical:hover{
  color:#fff;
  background:#d01d1d;
}
.btn-critical:active,
.btn-critical.active{
  background:#ba1a1a;
  border-color:#9e1616;
  box-shadow:0 3px 5px #9e1616 inset;
}
.btn-critical[disabled]{
  opacity:0.5;
  background:#ac4e4e;
  cursor:not-allowed;
}
.btn-block{
  display:block;
  text-align:center;
}
.btn-smaller{
  font-size:0.75em;
  height:26px;
}
.btn-small{
  font-size:0.875em;
  height:30px;
}
.btn-normal{
  font-size:1em;
  height:34px;
}
.btn-large{
  font-size:1.25em;
  height:42px;
}
.btn-larger{
  font-size:2em;
  height:66px;
}
.carousel-items{
  position:relative;
}
.carousel-items-slider{
  overflow:hidden;
}
.carousel-item-slider{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  visibility:hidden;
  -webkit-transition:0.5s left, 0.5s visibility 0.5s;
          transition:0.5s left, 0.5s visibility 0.5s;
}
.carousel-item-slider.next{
  left:100%;
}
.carousel-item-slider.previous{
  left:-100%;
}
.carousel-item-slider.active{
  position:relative;
  left:0;
  -webkit-transition:0.5s left;
          transition:0.5s left;
  visibility:visible;
}
.carousel-item-3d{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  visibility:hidden;
  -webkit-transform:translate(0, 0) scale(1);
      -ms-transform:translate(0, 0) scale(1);
          transform:translate(0, 0) scale(1);
  -webkit-transition:0.5s opacity, 0.5s -webkit-transform, 0.5s visibility 0.5s;
          transition:0.5s opacity, 0.5s transform, 0.5s visibility 0.5s;
}
.carousel-item-3d.next{
  z-index:11;
  -webkit-transform:translate(64px, 64px) scale(1.2);
      -ms-transform:translate(64px, 64px) scale(1.2);
          transform:translate(64px, 64px) scale(1.2);
}
.carousel-item-3d.previous{
  z-index:9;
  -webkit-transform:translate(-64px, -64px) scale(0.8);
      -ms-transform:translate(-64px, -64px) scale(0.8);
          transform:translate(-64px, -64px) scale(0.8);
}
.carousel-item-3d.active{
  position:relative;
  z-index:10;
  -webkit-transition:0.5s opacity, 0.5s -webkit-transform;
          transition:0.5s opacity, 0.5s transform;
  opacity:1;
  visibility:visible;
  -webkit-transform:translate(0, 0) scale(1);
      -ms-transform:translate(0, 0) scale(1);
          transform:translate(0, 0) scale(1);
}
.carousel-nav{
  text-align:center;
}
.carousel-nav-link{
  display:inline-block;
}
.container{
  padding-left:1em;
  padding-right:1em;
}
.container::before,
.container::after{
  content:'';
  display:table;
}
.container::after{
  clear:both;
}
@media (min-width: 640px){
  .container-fixed,
  .fixed-layout .container{
    box-sizing:border-box;
    width:640px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media (min-width: 1024px){
  .container-fixed,
  .fixed-layout .container{
    width:1024px;
  }
}
.fileupload-dropzone{
  display:block;
  padding:1em;
  border:4px dashed #e2e2e2;
  text-align:center;
  cursor:pointer;
}
.fileupload-dropzone input[type=file]{
  display:block;
  width:0;
  height:0;
  appearance:none;
  visibility:hidden;
  font-size:0;
}
.fileupload-dropzone.nv-file-over{
  border-color:#2e77b8;
}
.fileupload-queue{
  margin:0.5em;
  margin-left:-0.5em;
  margin-right:-0.5em;
}
.fileupload-queue-item{
  position:relative;
  display:inline-block;
  padding:0.5em;
  max-width:25%;
  box-sizing:border-box;
  vertical-align:top;
}
.fileupload-queue-item-wide{
  max-width:100%;
}
.fileupload-queue-remove{
  position:absolute;
  padding:0.25em;
  line-height:1;
  background:#db1f1f;
  color:#fff;
}
.fileupload-queue-remove:focus,
.fileupload-queue-remove:hover{
  color:#fff;
  background:#c51c1c;
}
.grid{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:row wrap;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
}
.grid-align-baseline{
  -webkit-box-align:baseline;
  -webkit-align-items:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
}
.grid-align-center{
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
}
.grid-gutters{
  margin:-0.5em;
}
.grid-gutters.block{
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.grid-gutters > .cell{
  margin:0.5em;
}
.block + .grid-gutters.block{
  margin-top:-0.5em;
}
.cell{
  -webkit-box-flex:100%;
  -webkit-flex:100%;
      -ms-flex:100%;
          flex:100%;
  box-sizing:border-box;
}
.cell-min{
  -webkit-box-flex:0;
  -webkit-flex:0 0 auto;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
}
.cell-1of1{
  -webkit-box-flex:100%;
  -webkit-flex:100%;
      -ms-flex:100%;
          flex:100%;
}
.cell-1of2{
  -webkit-box-flex:50%;
  -webkit-flex:50%;
      -ms-flex:50%;
          flex:50%;
}
.cell-1of3{
  -webkit-box-flex:33.33%;
  -webkit-flex:33.33%;
      -ms-flex:33.33%;
          flex:33.33%;
}
.cell-2of3{
  -webkit-box-flex:66.66%;
  -webkit-flex:66.66%;
      -ms-flex:66.66%;
          flex:66.66%;
}
.cell-1of4{
  -webkit-box-flex:25%;
  -webkit-flex:25%;
      -ms-flex:25%;
          flex:25%;
}
.cell-3of4{
  -webkit-box-flex:75%;
  -webkit-flex:75%;
      -ms-flex:75%;
          flex:75%;
}
.cell-1{
  -webkit-box-flex:1;
  -webkit-flex:1;
      -ms-flex:1;
          flex:1;
}
.cell-2{
  -webkit-box-flex:2;
  -webkit-flex:2;
      -ms-flex:2;
          flex:2;
}
.cell-3{
  -webkit-box-flex:3;
  -webkit-flex:3;
      -ms-flex:3;
          flex:3;
}
.cell-4{
  -webkit-box-flex:4;
  -webkit-flex:4;
      -ms-flex:4;
          flex:4;
}
.cell-5{
  -webkit-box-flex:5;
  -webkit-flex:5;
      -ms-flex:5;
          flex:5;
}
.cell-6{
  -webkit-box-flex:6;
  -webkit-flex:6;
      -ms-flex:6;
          flex:6;
}
.cell-7{
  -webkit-box-flex:7;
  -webkit-flex:7;
      -ms-flex:7;
          flex:7;
}
.cell-8{
  -webkit-box-flex:8;
  -webkit-flex:8;
      -ms-flex:8;
          flex:8;
}
@media (min-width: 640px){
  .cell-m-min{
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
        -ms-flex:0 0 auto;
            flex:0 0 auto;
  }
  .cell-m-1of1{
    -webkit-box-flex:100%;
    -webkit-flex:100%;
        -ms-flex:100%;
            flex:100%;
  }
  .cell-m-1of2{
    -webkit-box-flex:50%;
    -webkit-flex:50%;
        -ms-flex:50%;
            flex:50%;
  }
  .cell-m-1of3{
    -webkit-box-flex:33.33%;
    -webkit-flex:33.33%;
        -ms-flex:33.33%;
            flex:33.33%;
  }
  .cell-m-2of3{
    -webkit-box-flex:66.66%;
    -webkit-flex:66.66%;
        -ms-flex:66.66%;
            flex:66.66%;
  }
  .cell-m-1of4{
    -webkit-box-flex:25%;
    -webkit-flex:25%;
        -ms-flex:25%;
            flex:25%;
  }
  .cell-m-3of4{
    -webkit-box-flex:75%;
    -webkit-flex:75%;
        -ms-flex:75%;
            flex:75%;
  }
  .cell-m-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .cell-m-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
  }
  .cell-m-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
        -ms-flex:3;
            flex:3;
  }
  .cell-m-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
        -ms-flex:4;
            flex:4;
  }
  .cell-m-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
        -ms-flex:5;
            flex:5;
  }
  .cell-m-6{
    -webkit-box-flex:6;
    -webkit-flex:6;
        -ms-flex:6;
            flex:6;
  }
  .cell-m-7{
    -webkit-box-flex:7;
    -webkit-flex:7;
        -ms-flex:7;
            flex:7;
  }
  .cell-m-8{
    -webkit-box-flex:8;
    -webkit-flex:8;
        -ms-flex:8;
            flex:8;
  }
}
@media (min-width: 1024px){
  .cell-l-min{
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
        -ms-flex:0 0 auto;
            flex:0 0 auto;
  }
  .cell-l-1of1{
    -webkit-box-flex:100%;
    -webkit-flex:100%;
        -ms-flex:100%;
            flex:100%;
  }
  .cell-l-1of2{
    -webkit-box-flex:50%;
    -webkit-flex:50%;
        -ms-flex:50%;
            flex:50%;
  }
  .cell-l-1of3{
    -webkit-box-flex:33.33%;
    -webkit-flex:33.33%;
        -ms-flex:33.33%;
            flex:33.33%;
  }
  .cell-l-2of3{
    -webkit-box-flex:66.66%;
    -webkit-flex:66.66%;
        -ms-flex:66.66%;
            flex:66.66%;
  }
  .cell-l-1of4{
    -webkit-box-flex:25%;
    -webkit-flex:25%;
        -ms-flex:25%;
            flex:25%;
  }
  .cell-l-3of4{
    -webkit-box-flex:75%;
    -webkit-flex:75%;
        -ms-flex:75%;
            flex:75%;
  }
  .cell-l-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .cell-l-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
  }
  .cell-l-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
        -ms-flex:3;
            flex:3;
  }
  .cell-l-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
        -ms-flex:4;
            flex:4;
  }
  .cell-l-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
        -ms-flex:5;
            flex:5;
  }
  .cell-l-6{
    -webkit-box-flex:6;
    -webkit-flex:6;
        -ms-flex:6;
            flex:6;
  }
  .cell-l-7{
    -webkit-box-flex:7;
    -webkit-flex:7;
        -ms-flex:7;
            flex:7;
  }
  .cell-l-8{
    -webkit-box-flex:8;
    -webkit-flex:8;
        -ms-flex:8;
            flex:8;
  }
}
.image-placeholder{
  display:block;
  background:#eee;
  color:#858585;
  text-align:center;
}
.image-placeholder::before{
  font-family:Linearicons;
  content:'\e70e';
  font-size:2em;
}
.image-placeholder-large{
  padding:2em;
}
.inline-grid{
  display:inline-block;
  margin:-0.5em;
}
.inline-grid > *{
  margin:0.5em;
}
.inline-grid-small{
  display:inline-block;
  margin:-0.25em;
}
.inline-grid-small > *{
  margin:0.25em;
}
.input-group{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}
.input-group .input,
.input-group .input-group-addon{
  margin-left:-1px;
  border-radius:0;
  -webkit-appearance:none;
}
.input-group .input:first-child,
.input-group .input-group-addon:first-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.input-group .input:last-child,
.input-group .input-group-addon:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.input-group-block{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.input-group-addon{
  -webkit-box-flex:1;
  -webkit-flex:1 0 auto;
      -ms-flex:1 0 auto;
          flex:1 0 auto;
  box-sizing:border-box;
  padding:0.25em 0.75em;
  height:34px;
  background:#eee;
  border:1px solid #d6d6d6;
}
.input-group-addon-smaller{
  font-size:0.75em;
  height:26px;
}
.input-group-addon-small{
  font-size:0.875em;
  height:30px;
}
.input-group-addon-normal{
  font-size:1em;
  height:34px;
}
.input-group-addon-large{
  font-size:1.25em;
  height:42px;
}
.input-group-addon-larger{
  font-size:2em;
  height:66px;
}
.input{
  position:relative;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
  padding:0.25em 0.5em;
  height:34px;
  vertical-align:middle;
  outline:0;
  border-width:1px;
  border-style:solid;
  border-color:#d6d6d6;
  border-radius:4px;
  background:#fff;
}
.input.ng-dirty.ng-invalid{
  border-color:#db1f1f;
  box-shadow:0 0 6px rgba(219,31,31,0.5);
}
.input:focus{
  border-color:#2e77b8;
  box-shadow:0 0 6px rgba(46,119,184,0.5);
}
.input[disabled]{
  background:#eee;
  color:#858585;
}
textarea.input{
  height:auto;
  white-space:pre-wrap;
}
.input-block{
  display:block;
  width:100%;
}
.input-underline{
  padding-left:0;
  padding-right:0;
  border-radius:0;
  border-width:0 0 1px;
}
.input-underline.ng-dirty.ng-invalid{
  box-shadow:0 6px 6px -6px rgba(219,31,31,0.5);
}
.input-underline:focus{
  box-shadow:0 6px 6px -6px rgba(46,119,184,0.5);
}
.input-smaller{
  font-size:0.75em;
  height:26px;
}
.input-small{
  font-size:0.875em;
  height:30px;
}
.input-normal{
  font-size:1em;
  height:34px;
}
.input-large{
  font-size:1.25em;
  height:42px;
}
.input-larger{
  font-size:2em;
  height:66px;
}
.magnifier{
  position:absolute;
  z-index:1000;
  width:0;
  height:0;
  border-radius:640px;
  pointer-events:none;
  background-color:#fff;
  background-repeat:no-repeat;
  box-shadow:0 3px 8px rgba(0,0,0,0.25), 0 4px 0px rgba(255,255,255,0.25) inset;
  opacity:0;
  visibility:hidden;
  -webkit-transition:0.3s opacity;
          transition:0.3s opacity;
}
.magnifier.active{
  width:320px;
  height:320px;
  visibility:visible;
  opacity:1;
}
img[ui-magnify]{
  cursor:none;
}
.modal-layout{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:100;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  background:#bdd2d7;
}
#notices{
  z-index:2000;
}
.notice{
  position:relative;
  margin:1em;
  padding:1em;
  border-radius:4px;
  background:rgba(255,255,255,0.95);
}
.notice.info{
  background:#31a6c4;
  color:#fff;
  box-shadow:0 1px 1px #185362;
}
.notice.success{
  background:#39ac67;
  color:#fff;
  box-shadow:0 1px 1px #1c5634;
}
.notice.warn{
  background:#f5d989;
  color:#584307;
  box-shadow:0 1px 1px #b0860f;
}
.notice.error{
  background:#db1f1f;
  color:#fff;
  box-shadow:0 1px 1px #6e1010;
}
@media (min-width: 640px){
  #notices{
    position:fixed;
    right:0;
    bottom:0;
    width:50%;
  }
}
@media (min-width: 1024px){
  #notices{
    width:25%;
  }
}
.pnl-group .pnl:first-child{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.pnl-group .pnl:last-child{
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.pnl{
  position:relative;
  z-index:1;
  display:block;
}
.pnl::before,
.pnl::after{
  content:'';
  display:table;
}
.pnl::after{
  clear:both;
}
.pnl-indent{
  padding-left:1em;
  padding-right:1em;
}
.pnl-base{
  background:#fff;
  color:#404040;
  text-shadow:none;
  border-color:#e6e6e6;
}
.pnl-base-subtle{
  background:#fff;
}
.pnl-default{
  background:#eee;
  color:#3b3b3b;
  text-shadow:none;
  border-color:#d6d6d6;
}
.pnl-default-subtle{
  background:#f8f8f8;
}
.pnl-primary{
  background:#31a6c4;
  color:#fff;
  text-shadow:0 1px 1px #257c93;
  border-color:#2a8da7;
}
.pnl-primary-subtle{
  background:#bdd2d7;
}
.pnl-action{
  background:#2e77b8;
  color:#fff;
  text-shadow:0 1px 1px #22598a;
  border-color:#27659c;
}
.pnl-action-subtle{
  background:#b9c8d5;
}
.pnl-success{
  background:#39ac67;
  color:#fff;
  text-shadow:0 1px 1px #2b814d;
  border-color:#309258;
}
.pnl-success-subtle{
  background:#bbd2c5;
}
.pnl-warn{
  background:#f5d989;
  color:#584307;
  text-shadow:none;
  border-color:#f2ce66;
}
.pnl-warn-subtle{
  background:#eee9dd;
}
.pnl-critical{
  background:#db1f1f;
  color:#fff;
  text-shadow:0 1px 1px #a41717;
  border-color:#ba1a1a;
}
.pnl-critical-subtle{
  background:#dbbbbb;
}
.pnl-level-1{
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  z-index:10;
}
.pnl-level-2{
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  z-index:20;
}
.pnl-level-3{
  box-shadow:0 0 16px rgba(0,0,0,0.25);
  z-index:30;
}
.pnl-standalone{
  border-radius:4px;
}
.tumbler{
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:middle;
  height:34px;
  width:51px;
  cursor:pointer;
  border-radius:1000px;
  box-shadow:0 1px 8px rgba(0,0,0,0.1) inset, 0 0 1px rgba(0,0,0,0.5) inset;
  background:#eee;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.tumbler input[type="radio"],
.tumbler input[type="checkbox"]{
  position:absolute;
  visibility:hidden;
}
.tumbler::after{
  content:'';
  position:absolute;
  top:2px;
  bottom:2px;
  display:block;
  box-sizing:border-box;
  width:30px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  -ms-touch-action:manipulation;
      touch-action:manipulation;
  border-radius:999px;
  background:#fff;
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  left:0%;
  margin-left:2px;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.tumbler.active{
  background-color:#2e77b8;
  border-color:#27659c;
}
.tumbler.active::after{
  left:100%;
  margin-left:-32px;
}
.tumbler-smaller{
  font-size:0.75em;
  width:39px;
  height:26px;
}
.tumbler-smaller::after{
  width:22px;
}
.tumbler-smaller.active::after{
  margin-left:-24px;
}
.tumbler-small{
  font-size:0.875em;
  width:45px;
  height:30px;
}
.tumbler-small::after{
  width:26px;
}
.tumbler-small.active::after{
  margin-left:-28px;
}
.tumbler-normal{
  font-size:1em;
  width:51px;
  height:34px;
}
.tumbler-normal::after{
  width:30px;
}
.tumbler-normal.active::after{
  margin-left:-32px;
}
.tumbler-large{
  font-size:1.25em;
  width:63px;
  height:42px;
}
.tumbler-large::after{
  width:38px;
}
.tumbler-large.active::after{
  margin-left:-40px;
}
.tumbler-larger{
  font-size:2em;
  width:99px;
  height:66px;
}
.tumbler-larger::after{
  width:62px;
}
.tumbler-larger.active::after{
  margin-left:-64px;
}
.zoom-overlay{
  position:absolute;
  width:0;
  height:0;
  cursor:-webkit-zoom-out;
  cursor:zoom-out;
  opacity:0;
  visibility:hidden;
  -webkit-transition:0.3s opacity;
          transition:0.3s opacity;
}
.zoom-overlay.active{
  position:fixed;
  z-index:500;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:auto;
  height:auto;
  background:rgba(0,0,0,0.25);
  visibility:visible;
  opacity:1;
}
.zoom-container{
  position:absolute;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:cover;
  -webkit-transition:0.3s -webkit-transform ease-in-out;
          transition:0.3s transform ease-in-out;
}
[ui-zoom]{
  cursor:-webkit-zoom-in;
  cursor:zoom-in;
}
html,
body{
  background:#bdd2d7;
}
