// =====================
// Стили для email-писем
// =====================

@import './core/reset'
@import './core/fonts'
@import './core/variables'
@import './core/mixins'
@import './core/base'
@import './core/helpers'

@import './components/*'

html, body, #outer {
  background: ui-primary-subtle;
}

// ---------
// Черновики
// ---------
//
// Ниже можно поместить временные стили, чтобы «срочно починить этот баг в Firefox».
//
// В дальнейшем веб-дизайнеры или верстальщики, ответственные за проект,
// могут определить для них подходящее место.
