html,
body,
form,
fieldset,
img{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
}
button,
input,
select,
textarea{
  font:inherit;
  white-space:inherit;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-style:normal;
  font-weight:normal;
}
@font-face{
  font-family:'Arsenal';
  font-style:normal;
  font-weight:normal;
  src:local('Arsenal'), local('Arsenal Regular'), url("/static/fonts/Arsenal-Regular.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:normal;
  font-weight:bold;
  src:local('Arsenal'), local('Arsenal Bold'), url("/static/fonts/Arsenal-Bold.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:italic;
  font-weight:normal;
  src:local('Arsenal'), local('Arsenal Italic'), url("/static/fonts/Arsenal-Italic.ttf");
}
@font-face{
  font-family:'Arsenal';
  font-style:italic;
  font-weight:bold;
  src:local('Arsenal'), local('Arsenal Bold Italic'), url("/static/fonts/Arsenal-BoldItalic.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:normal;
  font-weight:normal;
  src:local('PT Sans'), url("/static/fonts/PTSans.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:normal;
  font-weight:bold;
  src:local('PT Sans Bold'), url("/static/fonts/PTSans-Bold.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:italic;
  font-weight:bold;
  src:local('PT Sans Bold Italic'), url("/static/fonts/PTSans-BoldItalic.ttf");
}
@font-face{
  font-family:'PT Sans';
  font-style:italic;
  font-weight:normal;
  src:local('PT Sans Italic'), url("/static/fonts/PTSans-Italic.ttf");
}
html,
body{
  font:400 16px/1.5 Arsenal, sans-serif;
  background:#fff;
  color:#333;
  text-rendering:optimizeLegibility;
}
a{
  text-decoration:none;
  color:#2e77b8;
}
a:hover{
  color:#579ad5;
}
strong,
.strong{
  font-weight:bold;
  color:#333;
}
em,
.em{
  font-style:italic;
  color:#333;
}
strike,
.strike{
  text-decoration:line-through;
}
img{
  vertical-align:middle;
  max-width:100%;
}
p,
ol,
ul,
dl,
li,
dt,
dd{
  margin:1em 0;
}
ul.terse li,
ol.terse li{
  margin:0.5em 0;
}
h1,
h2,
h3{
  margin:0.5em 0;
  line-height:1.25;
}
h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small{
  font-weight:400;
  font-size:60%;
  color:#858585;
}
h4,
h5,
h6{
  margin:0.5em 0;
}
h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small{
  font-weight:400;
  font-size:60%;
  color:#858585;
}
hr{
  margin:1em 0;
  border:0;
  border-bottom:1px solid #eee;
}
hr.bold{
  border-width:4px;
}
.block{
  margin:1em 0;
}
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak{
  display:none !important;
}
.nobr{
  white-space:nowrap;
}
.align-left{
  text-align:left;
}
.align-right{
  text-align:right;
}
.align-center,
.centered{
  text-align:center;
}
.type-larger{
  font-size:1.5em;
}
.type-large{
  font-size:1.25em;
}
.type-small{
  font-size:0.875em;
}
.type-smaller{
  font-size:0.75em;
}
@media (max-width: 639px){
  .hide-s{
    display:none !important;
  }
}
@media (min-width: 640px){
  .show-s{
    display:none !important;
  }
}
@media (min-width: 1024px){
  .hide-l{
    display:none !important;
  }
}
@media (max-width: 1023px){
  .show-l{
    display:none !important;
  }
}
.text-base{
  color:#fff;
}
.text-default{
  color:#eee;
}
.text-primary{
  color:#31a6c4;
}
.text-action{
  color:#2e77b8;
}
.text-success{
  color:#39ac67;
}
.text-warn{
  color:#f5d989;
}
.text-critical{
  color:#db1f1f;
}
@font-face{
	font-family:'Linearicons';
	src:url('/static/fonts/Linearicons.eot?-ff6uwt');
	src:url('/static/fonts/Linearicons.eot?#iefix-ff6uwt') format('embedded-opentype'),
		url('/static/fonts/Linearicons.woff?-ff6uwt') format('woff'),
		url('/static/fonts/Linearicons.ttf?-ff6uwt') format('truetype'),
		url('/static/fonts/Linearicons.svg?-ff6uwt#Linearicons') format('svg');
	font-weight:normal;
	font-style:normal;
}

[class^="icon-"], [class*=" icon-"]{
	font-family:'Linearicons';
  display:inline-block;
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	letter-spacing:0;
	-webkit-font-feature-settings:"liga";
	-moz-font-feature-settings:"liga=1";
	-moz-font-feature-settings:"liga";
	-ms-font-feature-settings:"liga" 1;
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.icon-home4:before{
	content:"\e603";
}

.icon-pencil:before{
	content:"\e60d";
}

.icon-pencil3:before{
	content:"\e610";
}

.icon-eraser:before{
	content:"\e611";
}

.icon-pencil5:before{
	content:"\e613";
}

.icon-feather:before{
	content:"\e614";
}

.icon-feather3:before{
	content:"\e616";
}

.icon-pen2:before{
	content:"\e617";
}

.icon-brush:before{
	content:"\e61d";
}

.icon-brush2:before{
	content:"\e61e";
}

.icon-spray:before{
	content:"\e61f";
}

.icon-paint-roller:before{
	content:"\e620";
}

.icon-stamp:before{
	content:"\e621";
}

.icon-eye-dropper:before{
	content:"\e625";
}

.icon-palette:before{
	content:"\e626";
}

.icon-color-sampler:before{
	content:"\e627";
}

.icon-bucket:before{
	content:"\e628";
}

.icon-magic-wand:before{
	content:"\e62b";
}

.icon-magnet:before{
	content:"\e62c";
}

.icon-pencil-ruler:before{
	content:"\e62d";
}

.icon-pencil-ruler2:before{
	content:"\e62e";
}

.icon-fire:before{
	content:"\e638";
}

.icon-database:before{
	content:"\e65d";
}

.icon-server:before{
	content:"\e666";
}

.icon-shield:before{
	content:"\e667";
}

.icon-shield-check:before{
	content:"\e668";
}

.icon-shield-alert:before{
	content:"\e669";
}

.icon-shield-cross:before{
	content:"\e66a";
}

.icon-lock:before{
	content:"\e66b";
}

.icon-unlock:before{
	content:"\e66d";
}

.icon-key:before{
	content:"\e66e";
}

.icon-key-hole:before{
	content:"\e66f";
}

.icon-cog:before{
	content:"\e672";
}

.icon-wrench:before{
	content:"\e674";
}

.icon-hammer-wrench:before{
	content:"\e676";
}

.icon-recycle:before{
	content:"\e67f";
}

.icon-trash2:before{
	content:"\e681";
}

.icon-broom:before{
	content:"\e683";
}

.icon-heart:before{
	content:"\e68c";
}

.icon-star:before{
	content:"\e68d";
}

.icon-star-half:before{
	content:"\e68e";
}

.icon-star-empty:before{
	content:"\e68f";
}

.icon-flag:before{
	content:"\e690";
}

.icon-flag2:before{
	content:"\e691";
}

.icon-flag3:before{
	content:"\e692";
}

.icon-mailbox-full:before{
	content:"\e693";
}

.icon-mailbox-empty:before{
	content:"\e694";
}

.icon-envelope:before{
	content:"\e696";
}

.icon-envelope-open:before{
	content:"\e697";
}

.icon-paperclip:before{
	content:"\e698";
}

.icon-paper-plane:before{
	content:"\e699";
}

.icon-reply:before{
	content:"\e69a";
}

.icon-reply-all:before{
	content:"\e69b";
}

.icon-inbox:before{
	content:"\e69c";
}

.icon-inbox2:before{
	content:"\e69d";
}

.icon-outbox:before{
	content:"\e69e";
}

.icon-box:before{
	content:"\e69f";
}

.icon-archive:before{
	content:"\e6a0";
}

.icon-archive2:before{
	content:"\e6a1";
}

.icon-eye:before{
	content:"\e6a5";
}

.icon-eye-crossed:before{
	content:"\e6a6";
}

.icon-binoculars:before{
	content:"\e6a9";
}

.icon-hdd:before{
	content:"\e6ab";
}

.icon-hdd-down:before{
	content:"\e6ac";
}

.icon-hdd-up:before{
	content:"\e6ad";
}

.icon-printer:before{
	content:"\e6b1";
}

.icon-file-empty:before{
	content:"\e6b3";
}

.icon-file-add:before{
	content:"\e6b4";
}

.icon-file-check:before{
	content:"\e6b5";
}

.icon-file-lock:before{
	content:"\e6b6";
}

.icon-files:before{
	content:"\e6b7";
}

.icon-copy:before{
	content:"\e6b8";
}

.icon-compare:before{
	content:"\e6b9";
}

.icon-folder:before{
	content:"\e6ba";
}

.icon-folder-search:before{
	content:"\e6bb";
}

.icon-folder-plus:before{
	content:"\e6bc";
}

.icon-folder-minus:before{
	content:"\e6bd";
}

.icon-folder-download:before{
	content:"\e6be";
}

.icon-folder-upload:before{
	content:"\e6bf";
}

.icon-folder-star:before{
	content:"\e6c0";
}

.icon-folder-heart:before{
	content:"\e6c1";
}

.icon-folder-user:before{
	content:"\e6c2";
}

.icon-scissors:before{
	content:"\e6c7";
}

.icon-paste:before{
	content:"\e6c8";
}

.icon-clipboard-empty:before{
	content:"\e6c9";
}

.icon-clipboard-pencil:before{
	content:"\e6ca";
}

.icon-clipboard-text:before{
	content:"\e6cb";
}

.icon-clipboard-check:before{
	content:"\e6cc";
}

.icon-clipboard-down:before{
	content:"\e6cd";
}

.icon-clipboard-left:before{
	content:"\e6ce";
}

.icon-clipboard-alert:before{
	content:"\e6cf";
}

.icon-clipboard-user:before{
	content:"\e6d0";
}

.icon-register:before{
	content:"\e6d1";
}

.icon-enter:before{
	content:"\e6d2";
}

.icon-exit:before{
	content:"\e6d3";
}

.icon-papers:before{
	content:"\e6d4";
}

.icon-news:before{
	content:"\e6d5";
}

.icon-typewriter:before{
	content:"\e6d7";
}

.icon-document:before{
	content:"\e6d8";
}

.icon-document2:before{
	content:"\e6d9";
}

.icon-graduation-hat:before{
	content:"\e6da";
}

.icon-license:before{
	content:"\e6db";
}

.icon-license2:before{
	content:"\e6dc";
}

.icon-medal-empty:before{
	content:"\e6dd";
}

.icon-shuffle:before{
	content:"\e6ec";
}

.icon-repeat:before{
	content:"\e6ee";
}

.icon-headset:before{
	content:"\e6f0";
}

.icon-equalizer:before{
	content:"\e6f2";
}

.icon-film-play:before{
	content:"\e6f8";
}

.icon-clapboard-play:before{
	content:"\e6f9";
}

.icon-media:before{
	content:"\e6fa";
}

.icon-film:before{
	content:"\e6fb";
}

.icon-camera2:before{
	content:"\e704";
}

.icon-shutter:before{
	content:"\e708";
}

.icon-convex:before{
	content:"\e70c";
}

.icon-concave:before{
	content:"\e70d";
}

.icon-picture:before{
	content:"\e70e";
}

.icon-picture2:before{
	content:"\e70f";
}

.icon-picture3:before{
	content:"\e710";
}

.icon-pictures:before{
	content:"\e711";
}

.icon-book:before{
	content:"\e712";
}

.icon-book2:before{
	content:"\e714";
}

.icon-bookmark:before{
	content:"\e715";
}

.icon-bookmark2:before{
	content:"\e716";
}

.icon-label:before{
	content:"\e717";
}

.icon-library:before{
	content:"\e718";
}

.icon-contacts:before{
	content:"\e71a";
}

.icon-profile:before{
	content:"\e71b";
}

.icon-portrait:before{
	content:"\e71c";
}

.icon-portrait2:before{
	content:"\e71d";
}

.icon-user:before{
	content:"\e71e";
}

.icon-user-plus:before{
	content:"\e71f";
}

.icon-user-minus:before{
	content:"\e720";
}

.icon-user-lock:before{
	content:"\e721";
}

.icon-users2:before{
	content:"\e723";
}

.icon-users-plus:before{
	content:"\e724";
}

.icon-users-minus:before{
	content:"\e725";
}

.icon-group-work:before{
	content:"\e726";
}

.icon-woman:before{
	content:"\e727";
}

.icon-man:before{
	content:"\e728";
}

.icon-walk:before{
	content:"\e72d";
}

.icon-run:before{
	content:"\e730";
}

.icon-store:before{
	content:"\e744";
}

.icon-store-24:before{
	content:"\e746";
}

.icon-cashier:before{
	content:"\e74a";
}

.icon-bag:before{
	content:"\e74b";
}

.icon-bag2:before{
	content:"\e74c";
}

.icon-cart:before{
	content:"\e74d";
}

.icon-cart-empty:before{
	content:"\e74e";
}

.icon-cart-full:before{
	content:"\e74f";
}

.icon-cart-plus:before{
	content:"\e750";
}

.icon-cart-plus2:before{
	content:"\e751";
}

.icon-cart-add:before{
	content:"\e752";
}

.icon-cart-remove:before{
	content:"\e753";
}

.icon-cart-exchange:before{
	content:"\e754";
}

.icon-tag:before{
	content:"\e755";
}

.icon-tags:before{
	content:"\e756";
}

.icon-receipt:before{
	content:"\e757";
}

.icon-wallet:before{
	content:"\e758";
}

.icon-bag-dollar:before{
	content:"\e75e";
}

.icon-bag-euro:before{
	content:"\e75f";
}

.icon-bag-pound:before{
	content:"\e760";
}

.icon-calculator:before{
	content:"\e766";
}

.icon-calculator2:before{
	content:"\e767";
}

.icon-vault:before{
	content:"\e769";
}

.icon-telephone:before{
	content:"\e76a";
}

.icon-phone-wave:before{
	content:"\e76c";
}

.icon-phone-in-out:before{
	content:"\e770";
}

.icon-phone-error:before{
	content:"\e771";
}

.icon-phone-plus:before{
	content:"\e773";
}

.icon-phone-minus:before{
	content:"\e774";
}

.icon-telephone2:before{
	content:"\e777";
}

.icon-pushpin:before{
	content:"\e778";
}

.icon-pushpin2:before{
	content:"\e779";
}

.icon-map-marker:before{
	content:"\e77a";
}

.icon-map-marker-down:before{
	content:"\e77c";
}

.icon-map-marker-check:before{
	content:"\e77d";
}

.icon-map-marker-crossed:before{
	content:"\e77e";
}

.icon-compass2:before{
	content:"\e780";
}

.icon-map:before{
	content:"\e781";
}

.icon-map2:before{
	content:"\e782";
}

.icon-location:before{
	content:"\e783";
}

.icon-road-sign:before{
	content:"\e784";
}

.icon-calendar-empty:before{
	content:"\e785";
}

.icon-calendar-check:before{
	content:"\e786";
}

.icon-calendar-cross:before{
	content:"\e787";
}

.icon-calendar-31:before{
	content:"\e788";
}

.icon-calendar-full:before{
	content:"\e789";
}

.icon-calendar-insert:before{
	content:"\e78a";
}

.icon-calendar-text:before{
	content:"\e78b";
}

.icon-delete:before{
	content:"\e794";
}

.icon-spell-check:before{
	content:"\e795";
}

.icon-screen:before{
	content:"\e798";
}

.icon-aspect-ratio:before{
	content:"\e799";
}

.icon-tablet:before{
	content:"\e7ab";
}

.icon-tablet2:before{
	content:"\e7ac";
}

.icon-laptop:before{
	content:"\e7ad";
}

.icon-laptop-phone:before{
	content:"\e7ae";
}

.icon-desktop:before{
	content:"\e7af";
}

.icon-launch:before{
	content:"\e7b0";
}

.icon-new-tab:before{
	content:"\e7b1";
}

.icon-window:before{
	content:"\e7b2";
}

.icon-cable:before{
	content:"\e7b3";
}

.icon-tv:before{
	content:"\e7b5";
}

.icon-radio:before{
	content:"\e7b6";
}

.icon-power:before{
	content:"\e7b9";
}

.icon-power-crossed:before{
	content:"\e7ba";
}

.icon-lamp:before{
	content:"\e7bc";
}

.icon-cord:before{
	content:"\e7bf";
}

.icon-battery-power:before{
	content:"\e7c1";
}

.icon-battery-empty:before{
	content:"\e7c2";
}

.icon-battery-alert:before{
	content:"\e7c3";
}

.icon-battery-error:before{
	content:"\e7c4";
}

.icon-battery-low1:before{
	content:"\e7c5";
}

.icon-battery-low2:before{
	content:"\e7c6";
}

.icon-battery-low3:before{
	content:"\e7c7";
}

.icon-battery-mid1:before{
	content:"\e7c8";
}

.icon-battery-mid2:before{
	content:"\e7c9";
}

.icon-battery-mid3:before{
	content:"\e7ca";
}

.icon-battery-full:before{
	content:"\e7cb";
}

.icon-battery-charging:before{
	content:"\e7cc";
}

.icon-battery-charging2:before{
	content:"\e7cd";
}

.icon-battery-charging3:before{
	content:"\e7ce";
}

.icon-battery-charging4:before{
	content:"\e7cf";
}

.icon-battery-charging5:before{
	content:"\e7d0";
}

.icon-battery-charging6:before{
	content:"\e7d1";
}

.icon-battery-charging7:before{
	content:"\e7d2";
}

.icon-chip:before{
	content:"\e7d3";
}

.icon-chip-x64:before{
	content:"\e7d4";
}

.icon-chip-x86:before{
	content:"\e7d5";
}

.icon-bubble:before{
	content:"\e7d6";
}

.icon-bubbles:before{
	content:"\e7d7";
}

.icon-bubble-dots:before{
	content:"\e7d8";
}

.icon-bubble-alert:before{
	content:"\e7d9";
}

.icon-bubble-question:before{
	content:"\e7da";
}

.icon-bubble-text:before{
	content:"\e7db";
}

.icon-quote-open:before{
	content:"\e7e5";
}

.icon-quote-close:before{
	content:"\e7e6";
}

.icon-beaker:before{
	content:"\e7f3";
}

.icon-pie-chart:before{
	content:"\e7f8";
}

.icon-graph:before{
	content:"\e7fa";
}

.icon-chart-growth:before{
	content:"\e7fb";
}

.icon-gift:before{
	content:"\e7ff";
}

.icon-diamond:before{
	content:"\e806";
}

.icon-diamond2:before{
	content:"\e807";
}

.icon-diamond3:before{
	content:"\e808";
}

.icon-diamond4:before{
	content:"\e809";
}

.icon-speed-slow:before{
	content:"\e834";
}

.icon-speed-medium:before{
	content:"\e835";
}

.icon-speed-fast:before{
	content:"\e836";
}

.icon-balance:before{
	content:"\e839";
}

.icon-briefcase:before{
	content:"\e83a";
}

.icon-luggage-weight:before{
	content:"\e83b";
}

.icon-dolly:before{
	content:"\e83c";
}

.icon-helicopter:before{
	content:"\e83f";
}

.icon-taxi:before{
	content:"\e852";
}

.icon-truck:before{
	content:"\e857";
}

.icon-ship:before{
	content:"\e85b";
}

.icon-ship2:before{
	content:"\e85c";
}

.icon-archery:before{
	content:"\e870";
}

.icon-cube:before{
	content:"\e874";
}

.icon-puzzle:before{
	content:"\e876";
}

.icon-site-map:before{
	content:"\e883";
}

.icon-earth:before{
	content:"\e884";
}

.icon-alarm:before{
	content:"\e8aa";
}

.icon-alarm-ringing:before{
	content:"\e8ad";
}

.icon-antenna:before{
	content:"\e8c8";
}

.icon-undo:before{
	content:"\e8d5";
}

.icon-redo:before{
	content:"\e8d6";
}

.icon-undo2:before{
	content:"\e8d8";
}

.icon-redo2:before{
	content:"\e8d9";
}

.icon-sync:before{
	content:"\e8da";
}

.icon-return2:before{
	content:"\e8e1";
}

.icon-history2:before{
	content:"\e8e4";
}

.icon-alarm2:before{
	content:"\e8ea";
}

.icon-download:before{
	content:"\e8f3";
}

.icon-download2:before{
	content:"\e8f5";
}

.icon-upload2:before{
	content:"\e8f6";
}

.icon-enter-up:before{
	content:"\e8f7";
}

.icon-enter-down:before{
	content:"\e8f8";
}

.icon-enter-left:before{
	content:"\e8f9";
}

.icon-enter-right:before{
	content:"\e8fa";
}

.icon-exit-up:before{
	content:"\e8fb";
}

.icon-exit-down:before{
	content:"\e8fc";
}

.icon-exit-left:before{
	content:"\e8fd";
}

.icon-exit-right:before{
	content:"\e8fe";
}

.icon-cli:before{
	content:"\e909";
}

.icon-bug:before{
	content:"\e90a";
}

.icon-code:before{
	content:"\e90b";
}

.icon-file-code:before{
	content:"\e90c";
}

.icon-file-image:before{
	content:"\e90d";
}

.icon-file-zip:before{
	content:"\e90e";
}

.icon-file-audio:before{
	content:"\e90f";
}

.icon-file-video:before{
	content:"\e910";
}

.icon-file-preview:before{
	content:"\e911";
}

.icon-file-charts:before{
	content:"\e912";
}

.icon-file-stats:before{
	content:"\e913";
}

.icon-file-spreadsheet:before{
	content:"\e914";
}

.icon-link:before{
	content:"\e915";
}

.icon-unlink:before{
	content:"\e916";
}

.icon-link2:before{
	content:"\e917";
}

.icon-unlink2:before{
	content:"\e918";
}

.icon-thumbs-up:before{
	content:"\e919";
}

.icon-thumbs-down:before{
	content:"\e91a";
}

.icon-share:before{
	content:"\e91f";
}

.icon-share2:before{
	content:"\e920";
}

.icon-magnifier:before{
	content:"\e922";
}

.icon-zoom-in:before{
	content:"\e925";
}

.icon-zoom-out:before{
	content:"\e926";
}

.icon-cross:before{
	content:"\e92a";
}

.icon-menu:before{
	content:"\e92b";
}

.icon-list:before{
	content:"\e92c";
}

.icon-list2:before{
	content:"\e92d";
}

.icon-list3:before{
	content:"\e92e";
}

.icon-menu2:before{
	content:"\e92f";
}

.icon-list4:before{
	content:"\e930";
}

.icon-menu3:before{
	content:"\e931";
}

.icon-exclamation:before{
	content:"\e932";
}

.icon-question:before{
	content:"\e933";
}

.icon-check:before{
	content:"\e934";
}

.icon-cross2:before{
	content:"\e935";
}

.icon-plus:before{
	content:"\e936";
}

.icon-minus:before{
	content:"\e937";
}

.icon-percent:before{
	content:"\e938";
}

.icon-chevron-up:before{
	content:"\e939";
}

.icon-chevron-down:before{
	content:"\e93a";
}

.icon-chevron-left:before{
	content:"\e93b";
}

.icon-chevron-right:before{
	content:"\e93c";
}

.icon-chevrons-expand-vertical:before{
	content:"\e93d";
}

.icon-chevrons-expand-horizontal:before{
	content:"\e93e";
}

.icon-chevrons-contract-vertical:before{
	content:"\e93f";
}

.icon-chevrons-contract-horizontal:before{
	content:"\e940";
}

.icon-arrow-up:before{
	content:"\e941";
}

.icon-arrow-down:before{
	content:"\e942";
}

.icon-arrow-left:before{
	content:"\e943";
}

.icon-arrow-right:before{
	content:"\e944";
}

.icon-arrow-up-right:before{
	content:"\e945";
}

.icon-arrows-merge:before{
	content:"\e946";
}

.icon-arrows-split:before{
	content:"\e947";
}

.icon-arrow-divert:before{
	content:"\e948";
}

.icon-arrow-return:before{
	content:"\e949";
}

.icon-expand:before{
	content:"\e94a";
}

.icon-contract:before{
	content:"\e94b";
}

.icon-expand2:before{
	content:"\e94c";
}

.icon-contract2:before{
	content:"\e94d";
}

.icon-move:before{
	content:"\e94e";
}

.icon-tab:before{
	content:"\e94f";
}

.icon-arrow-wave:before{
	content:"\e950";
}

.icon-expand3:before{
	content:"\e951";
}

.icon-expand4:before{
	content:"\e952";
}

.icon-contract3:before{
	content:"\e953";
}

.icon-notification:before{
	content:"\e954";
}

.icon-warning:before{
	content:"\e955";
}

.icon-notification-circle:before{
	content:"\e956";
}

.icon-question-circle:before{
	content:"\e957";
}

.icon-menu-circle:before{
	content:"\e958";
}

.icon-checkmark-circle:before{
	content:"\e959";
}

.icon-cross-circle:before{
	content:"\e95a";
}

.icon-plus-circle:before{
	content:"\e95b";
}

.icon-circle-minus:before{
	content:"\e95c";
}

.icon-percent-circle:before{
	content:"\e95d";
}

.icon-arrow-up-circle:before{
	content:"\e95e";
}

.icon-arrow-down-circle:before{
	content:"\e95f";
}

.icon-arrow-left-circle:before{
	content:"\e960";
}

.icon-arrow-right-circle:before{
	content:"\e961";
}

.icon-chevron-up-circle:before{
	content:"\e962";
}

.icon-chevron-down-circle:before{
	content:"\e963";
}

.icon-chevron-left-circle:before{
	content:"\e964";
}

.icon-chevron-right-circle:before{
	content:"\e965";
}

.icon-backward-circle:before{
	content:"\e966";
}

.icon-first-circle:before{
	content:"\e967";
}

.icon-previous-circle:before{
	content:"\e968";
}

.icon-stop-circle:before{
	content:"\e969";
}

.icon-play-circle:before{
	content:"\e96a";
}

.icon-pause-circle:before{
	content:"\e96b";
}

.icon-next-circle:before{
	content:"\e96c";
}

.icon-last-circle:before{
	content:"\e96d";
}

.icon-forward-circle:before{
	content:"\e96e";
}

.icon-eject-circle:before{
	content:"\e96f";
}

.icon-layers:before{
	content:"\e977";
}

.icon-layers-crossed:before{
	content:"\e978";
}

.icon-funnel:before{
	content:"\e97c";
}

.icon-square:before{
	content:"\e98d";
}

.icon-plus-square:before{
	content:"\e98e";
}

.icon-minus-square:before{
	content:"\e98f";
}

.icon-percent-square:before{
	content:"\e990";
}

.icon-arrow-up-square:before{
	content:"\e991";
}

.icon-arrow-down-square:before{
	content:"\e992";
}

.icon-arrow-left-square:before{
	content:"\e993";
}

.icon-arrow-right-square:before{
	content:"\e994";
}

.icon-chevron-up-square:before{
	content:"\e995";
}

.icon-chevron-down-square:before{
	content:"\e996";
}

.icon-chevron-left-square:before{
	content:"\e997";
}

.icon-chevron-right-square:before{
	content:"\e998";
}

.icon-check-square:before{
	content:"\e999";
}

.icon-cross-square:before{
	content:"\e99a";
}

.icon-menu-square:before{
	content:"\e99b";
}

.icon-prohibited:before{
	content:"\e99c";
}

.icon-text-format:before{
	content:"\e9a0";
}

.icon-text-format-remove:before{
	content:"\e9a1";
}

.icon-text-size:before{
	content:"\e9a2";
}

.icon-bold:before{
	content:"\e9a3";
}

.icon-italic:before{
	content:"\e9a4";
}

.icon-underline:before{
	content:"\e9a5";
}

.icon-text-align-left:before{
	content:"\e9a8";
}

.icon-text-align-center:before{
	content:"\e9a9";
}

.icon-text-align-right:before{
	content:"\e9aa";
}

.icon-text-align-justify:before{
	content:"\e9ab";
}

.icon-line-spacing:before{
	content:"\e9ac";
}

.icon-indent-increase:before{
	content:"\e9ad";
}

.icon-indent-decrease:before{
	content:"\e9ae";
}

.icon-text-wrap:before{
	content:"\e9af";
}

.icon-pilcrow:before{
	content:"\e9b0";
}

.icon-direction-ltr:before{
	content:"\e9b1";
}

.icon-direction-rtl:before{
	content:"\e9b2";
}

.icon-page-break:before{
	content:"\e9b3";
}

.icon-sort-alpha-asc:before{
	content:"\e9b5";
}

.icon-sort-alpha-desc:before{
	content:"\e9b6";
}

.icon-sort-numeric-asc:before{
	content:"\e9b7";
}

.icon-sort-numeric-desc:before{
	content:"\e9b8";
}

.icon-sort-amount-asc:before{
	content:"\e9b9";
}

.icon-sort-amount-desc:before{
	content:"\e9ba";
}

.icon-sort-time-asc:before{
	content:"\e9bb";
}

.icon-sort-time-desc:before{
	content:"\e9bc";
}


.alert{
  padding:0 1em;
  border-width:1px;
  border-style:solid;
  border-radius:4px;
}
.alert.alert-base{
  border:4px solid #fff;
  background:#fff;
  color:#404040;
}
.alert.alert-default{
  border:4px solid #eee;
  background:#f7f7f7;
  color:#3b3b3b;
}
.alert.alert-primary{
  border:4px solid #31a6c4;
  background:#95d4e5;
  color:#fff;
}
.alert.alert-action{
  border:4px solid #2e77b8;
  background:#8fbbe3;
  color:#fff;
}
.alert.alert-success{
  border:4px solid #39ac67;
  background:#95dcb2;
  color:#fff;
}
.alert.alert-warn{
  border:4px solid #f5d989;
  background:#faecc4;
  color:#584307;
}
.alert.alert-critical{
  border:4px solid #db1f1f;
  background:#ef8d8d;
  color:#fff;
}
.badge{
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  padding:0 0.5em;
  border-width:1px;
  border-style:solid;
  border-radius:1000px;
  text-align:center;
}
.badge-icon{
  position:relative;
  top:-1px;
  vertical-align:middle;
}
.badge-base{
  background:#fff;
  border-color:#e6e6e6;
  color:#404040;
}
.badge-default{
  background:#eee;
  border-color:#d6d6d6;
  color:#3b3b3b;
}
.badge-primary{
  background:#31a6c4;
  border-color:#2a8da7;
  color:#fff;
}
.badge-action{
  background:#2e77b8;
  border-color:#27659c;
  color:#fff;
}
.badge-success{
  background:#39ac67;
  border-color:#309258;
  color:#fff;
}
.badge-warn{
  background:#f5d989;
  border-color:#f2ce66;
  color:#584307;
}
.badge-critical{
  background:#db1f1f;
  border-color:#ba1a1a;
  color:#fff;
}
.badge-larger{
  font-size:1.5em;
}
.badge-large{
  font-size:1.25em;
}
.badge-small{
  font-size:0.875em;
}
.badge-smaller{
  font-size:0.75em;
}
.badge-movable{
  cursor:move;
}
.badge.dragging{
  opacity:0.5;
}
.badge.drag-over::before{
  content:'';
  position:absolute;
  top:0;
  display:none;
  margin:0 0.25em;
  border:7px solid transparent;
  border-top-color:#31a6c4;
}
.badge.drag-over-before::before{
  right:100%;
  display:inline-block;
}
.badge.drag-over-after::before{
  left:100%;
  display:inline-block;
}
.btn-group{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}
.btn-group .btn{
  margin-left:-1px;
  border-radius:0;
}
.btn-group .btn:first-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.btn-group .btn:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.btn{
  position:relative;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
  padding:0.25em 0.75em;
  margin:0;
  height:2.1em;
  vertical-align:middle;
  outline:0;
  cursor:pointer;
  -ms-touch-action:manipulation;
      touch-action:manipulation;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  border-width:1px;
  border-style:solid;
  border-radius:4px;
  font:inherit;
  white-space:nowrap;
}
.btn::-moz-focus-inner{
  border:0;
  padding:0;
}
.btn:active,
.btn.active{
  z-index:2;
}
.btn i{
  position:relative;
  top:-1px;
  display:inline-block;
  vertical-align:middle;
}
.btn i + *,
.btn * + i{
  margin-left:0.37em;
}
.btn-base{
  background:#fff;
  border-color:#e6e6e6;
  border-bottom-color:#c4c4c4;
  color:#404040;
  text-shadow:none;
}
.btn-base:focus,
.btn-base:hover{
  color:#404040;
  background:#e6e6e6;
}
.btn-base:active,
.btn-base.active{
  background:#d9d9d9;
  border-color:#c4c4c4;
  box-shadow:0 3px 5px #c4c4c4 inset;
}
.btn-default{
  background:#eee;
  border-color:#d6d6d6;
  border-bottom-color:#b6b6b6;
  color:#3b3b3b;
  text-shadow:none;
}
.btn-default:focus,
.btn-default:hover{
  color:#3b3b3b;
  background:#d6d6d6;
}
.btn-default:active,
.btn-default.active{
  background:#cacaca;
  border-color:#b6b6b6;
  box-shadow:0 3px 5px #b6b6b6 inset;
}
.btn-primary{
  background:#31a6c4;
  border-color:#2a8da7;
  border-bottom-color:#24788e;
  color:#fff;
  text-shadow:0 1px 1px #257c93;
}
.btn-primary:focus,
.btn-primary:hover{
  color:#fff;
  background:#2c95b0;
}
.btn-primary:active,
.btn-primary.active{
  background:#2a8da7;
  border-color:#24788e;
  box-shadow:0 3px 5px #24788e inset;
}
.btn-action{
  background:#2e77b8;
  border-color:#27659c;
  border-bottom-color:#215685;
  color:#fff;
  text-shadow:0 1px 1px #22598a;
}
.btn-action:focus,
.btn-action:hover{
  color:#fff;
  background:#296ba6;
}
.btn-action:active,
.btn-action.active{
  background:#27659c;
  border-color:#215685;
  box-shadow:0 3px 5px #215685 inset;
}
.btn-success{
  background:#39ac67;
  border-color:#309258;
  border-bottom-color:#297c4b;
  color:#fff;
  text-shadow:0 1px 1px #2b814d;
}
.btn-success:focus,
.btn-success:hover{
  color:#fff;
  background:#339b5d;
}
.btn-success:active,
.btn-success.active{
  background:#309258;
  border-color:#297c4b;
  box-shadow:0 3px 5px #297c4b inset;
}
.btn-warn{
  background:#f5d989;
  border-color:#f2ce66;
  border-bottom-color:#eebf36;
  color:#584307;
  text-shadow:none;
}
.btn-warn:focus,
.btn-warn:hover{
  color:#584307;
  background:#f2ce66;
}
.btn-warn:active,
.btn-warn.active{
  background:#f1c854;
  border-color:#eebf36;
  box-shadow:0 3px 5px #eebf36 inset;
}
.btn-critical{
  background:#db1f1f;
  border-color:#ba1a1a;
  border-bottom-color:#9e1616;
  color:#fff;
  text-shadow:0 1px 1px #a41717;
}
.btn-critical:focus,
.btn-critical:hover{
  color:#fff;
  background:#c51c1c;
}
.btn-critical:active,
.btn-critical.active{
  background:#ba1a1a;
  border-color:#9e1616;
  box-shadow:0 3px 5px #9e1616 inset;
}
.btn-block{
  display:block;
  text-align:center;
}
.btn-larger{
  font-size:1.5em;
}
.btn-large{
  font-size:1.25em;
}
.btn-small{
  font-size:0.875em;
}
.btn-smaller{
  font-size:0.75em;
}
.container{
  padding-left:1em;
  padding-right:1em;
}
.container::before,
.container::after{
  content:'';
  display:table;
}
.container::after{
  clear:both;
}
@media (min-width: 640px){
  .container-fixed,
  .layout-fixed .container{
    box-sizing:border-box;
    width:640px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media (min-width: 1024px){
  .container-fixed,
  .layout-fixed .container{
    width:1024px;
  }
}
.datatable{
  width:100%;
}
.datatable td,
.datatable th{
  padding:0.5em;
  border-bottom:1px solid #eee;
  font:inherit;
  text-align:left;
}
.datatable th{
  color:#858585;
}
.datatable tbody tr:last-child td,
.datatable tbody tr:last-child th{
  border-bottom:0;
}
.datatable tr.dragging{
  opacity:0.5;
}
.datatable tr.drag-over-before{
  border-top:4px solid #31a6c4;
}
.datatable tr.drag-over-after{
  border-bottom:4px solid #31a6c4;
}
.datatable-small td,
.datatable-small th{
  padding:0.25em;
}
@media (max-width: 639px){
  .datatable,
  .datatable tfoot,
  .datatable tbody,
  .datatable tr{
    display:block;
  }
  .datatable thead{
    display:none;
  }
  .datatable tbody td,
  .datatable tbody th{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
    border-bottom:0;
    width:auto;
  }
  .datatable tbody td::before,
  .datatable tbody th::before{
    content:attr(title);
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .datatable tbody tr:not(:last-child){
    border-bottom:1px solid #eee;
  }
  .datatable-cell{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
}
.datatable-move-handle{
  cursor:move;
}
.grid{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:row wrap;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
}
.grid-align-baseline{
  -webkit-box-align:baseline;
  -webkit-align-items:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
}
.grid-align-center{
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
}
.grid-gutters{
  margin:-0.5em;
}
.grid-gutters.block{
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.grid-gutters > .cell{
  margin:0.5em;
}
.block + .grid-gutters.block{
  margin-top:-0.5em;
}
.cell{
  -webkit-box-flex:100%;
  -webkit-flex:100%;
      -ms-flex:100%;
          flex:100%;
  box-sizing:border-box;
}
.cell-min{
  -webkit-box-flex:0;
  -webkit-flex:0 0 auto;
      -ms-flex:0 0 auto;
          flex:0 0 auto;
}
.cell-1of1{
  -webkit-box-flex:100%;
  -webkit-flex:100%;
      -ms-flex:100%;
          flex:100%;
}
.cell-1of2{
  -webkit-box-flex:50%;
  -webkit-flex:50%;
      -ms-flex:50%;
          flex:50%;
}
.cell-1of3{
  -webkit-box-flex:33.33%;
  -webkit-flex:33.33%;
      -ms-flex:33.33%;
          flex:33.33%;
}
.cell-2of3{
  -webkit-box-flex:66.66%;
  -webkit-flex:66.66%;
      -ms-flex:66.66%;
          flex:66.66%;
}
.cell-1of4{
  -webkit-box-flex:25%;
  -webkit-flex:25%;
      -ms-flex:25%;
          flex:25%;
}
.cell-3of4{
  -webkit-box-flex:75%;
  -webkit-flex:75%;
      -ms-flex:75%;
          flex:75%;
}
.cell-1{
  -webkit-box-flex:1;
  -webkit-flex:1;
      -ms-flex:1;
          flex:1;
}
.cell-2{
  -webkit-box-flex:2;
  -webkit-flex:2;
      -ms-flex:2;
          flex:2;
}
.cell-3{
  -webkit-box-flex:3;
  -webkit-flex:3;
      -ms-flex:3;
          flex:3;
}
.cell-4{
  -webkit-box-flex:4;
  -webkit-flex:4;
      -ms-flex:4;
          flex:4;
}
.cell-5{
  -webkit-box-flex:5;
  -webkit-flex:5;
      -ms-flex:5;
          flex:5;
}
.cell-6{
  -webkit-box-flex:6;
  -webkit-flex:6;
      -ms-flex:6;
          flex:6;
}
.cell-7{
  -webkit-box-flex:7;
  -webkit-flex:7;
      -ms-flex:7;
          flex:7;
}
.cell-8{
  -webkit-box-flex:8;
  -webkit-flex:8;
      -ms-flex:8;
          flex:8;
}
@media (min-width: 640px){
  .cell-m-min{
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
        -ms-flex:0 0 auto;
            flex:0 0 auto;
  }
  .cell-m-1of1{
    -webkit-box-flex:100%;
    -webkit-flex:100%;
        -ms-flex:100%;
            flex:100%;
  }
  .cell-m-1of2{
    -webkit-box-flex:50%;
    -webkit-flex:50%;
        -ms-flex:50%;
            flex:50%;
  }
  .cell-m-1of3{
    -webkit-box-flex:33.33%;
    -webkit-flex:33.33%;
        -ms-flex:33.33%;
            flex:33.33%;
  }
  .cell-m-2of3{
    -webkit-box-flex:66.66%;
    -webkit-flex:66.66%;
        -ms-flex:66.66%;
            flex:66.66%;
  }
  .cell-m-1of4{
    -webkit-box-flex:25%;
    -webkit-flex:25%;
        -ms-flex:25%;
            flex:25%;
  }
  .cell-m-3of4{
    -webkit-box-flex:75%;
    -webkit-flex:75%;
        -ms-flex:75%;
            flex:75%;
  }
  .cell-m-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .cell-m-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
  }
  .cell-m-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
        -ms-flex:3;
            flex:3;
  }
  .cell-m-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
        -ms-flex:4;
            flex:4;
  }
  .cell-m-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
        -ms-flex:5;
            flex:5;
  }
  .cell-m-6{
    -webkit-box-flex:6;
    -webkit-flex:6;
        -ms-flex:6;
            flex:6;
  }
  .cell-m-7{
    -webkit-box-flex:7;
    -webkit-flex:7;
        -ms-flex:7;
            flex:7;
  }
  .cell-m-8{
    -webkit-box-flex:8;
    -webkit-flex:8;
        -ms-flex:8;
            flex:8;
  }
}
@media (min-width: 1024px){
  .cell-l-min{
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
        -ms-flex:0 0 auto;
            flex:0 0 auto;
  }
  .cell-l-1of1{
    -webkit-box-flex:100%;
    -webkit-flex:100%;
        -ms-flex:100%;
            flex:100%;
  }
  .cell-l-1of2{
    -webkit-box-flex:50%;
    -webkit-flex:50%;
        -ms-flex:50%;
            flex:50%;
  }
  .cell-l-1of3{
    -webkit-box-flex:33.33%;
    -webkit-flex:33.33%;
        -ms-flex:33.33%;
            flex:33.33%;
  }
  .cell-l-2of3{
    -webkit-box-flex:66.66%;
    -webkit-flex:66.66%;
        -ms-flex:66.66%;
            flex:66.66%;
  }
  .cell-l-1of4{
    -webkit-box-flex:25%;
    -webkit-flex:25%;
        -ms-flex:25%;
            flex:25%;
  }
  .cell-l-3of4{
    -webkit-box-flex:75%;
    -webkit-flex:75%;
        -ms-flex:75%;
            flex:75%;
  }
  .cell-l-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .cell-l-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
        -ms-flex:2;
            flex:2;
  }
  .cell-l-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
        -ms-flex:3;
            flex:3;
  }
  .cell-l-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
        -ms-flex:4;
            flex:4;
  }
  .cell-l-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
        -ms-flex:5;
            flex:5;
  }
  .cell-l-6{
    -webkit-box-flex:6;
    -webkit-flex:6;
        -ms-flex:6;
            flex:6;
  }
  .cell-l-7{
    -webkit-box-flex:7;
    -webkit-flex:7;
        -ms-flex:7;
            flex:7;
  }
  .cell-l-8{
    -webkit-box-flex:8;
    -webkit-flex:8;
        -ms-flex:8;
            flex:8;
  }
}
.inline-grid{
  display:inline-block;
  margin:-0.5em;
}
.inline-grid > *{
  margin:0.5em;
}
.inline-grid-small{
  display:inline-block;
  margin:-0.25em;
}
.inline-grid-small > *{
  margin:0.25em;
}
.input-group{
  display:-webkit-inline-box;
  display:-webkit-inline-flex;
  display:-ms-inline-flexbox;
  display:inline-flex;
  vertical-align:middle;
}
.input-group input,
.input-group .input-group-addon{
  margin-left:-1px;
  border-radius:0;
}
.input-group input:first-child,
.input-group .input-group-addon:first-child{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}
.input-group input:last-child,
.input-group .input-group-addon:last-child{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.input-group-block{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.input-group-addon{
  box-sizing:border-box;
  padding:0.25em 0.75em;
  height:2.1em;
  background:#eee;
  border:1px solid #d6d6d6;
}
.input-group-addon-larger{
  font-size:1.5em;
}
.input-group-addon-large{
  font-size:1.25em;
}
.input-group-addon-small{
  font-size:0.875em;
}
.input-group-addon-smaller{
  font-size:0.75em;
}
input,
select,
keygen,
textarea{
  position:relative;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
  padding:0.25em 0.75em;
  vertical-align:middle;
  outline:0;
  border-width:1px;
  border-style:solid;
  border-color:#d6d6d6;
  border-radius:4px;
}
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
keygen.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid{
  border-color:#db1f1f;
  box-shadow:0 0 6px rgba(219,31,31,0.5);
}
input:focus,
select:focus,
keygen:focus,
textarea:focus{
  border-color:#2e77b8;
  box-shadow:0 0 6px rgba(46,119,184,0.5);
}
input[disabled],
select[disabled],
keygen[disabled],
textarea[disabled]{
  background:#eee;
  color:#858585;
}
input,
select,
keygen{
  height:2.1em;
}
.input-larger{
  font-size:1.5em;
}
.input-large{
  font-size:1.25em;
}
.input-small{
  font-size:0.875em;
}
.input-smaller{
  font-size:0.75em;
}
.input-block{
  display:block;
  width:100%;
}
.input-underline{
  padding-left:0;
  padding-right:0;
  border-radius:0;
  border-width:0 0 1px;
}
.input-underline.ng-dirty.ng-invalid{
  box-shadow:0 6px 6px -6px rgba(219,31,31,0.5);
}
.input-underline:focus{
  box-shadow:0 6px 6px -6px rgba(46,119,184,0.5);
}
.loading{
  text-align:center;
  margin:1em 0;
}
.pnl-group .pnl:first-child{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.pnl-group .pnl:last-child{
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.pnl{
  position:relative;
  z-index:1;
}
.pnl::before,
.pnl::after{
  content:'';
  display:table;
}
.pnl::after{
  clear:both;
}
.pnl-indent{
  padding-left:1em;
  padding-right:1em;
}
.pnl-base{
  background:#fff;
  color:#404040;
  text-shadow:none;
  border-color:#e6e6e6;
}
.pnl-base-subtle{
  background:#fff;
}
.pnl-default{
  background:#eee;
  color:#3b3b3b;
  text-shadow:none;
  border-color:#d6d6d6;
}
.pnl-default-subtle{
  background:#f8f8f8;
}
.pnl-primary{
  background:#31a6c4;
  color:#fff;
  text-shadow:0 1px 1px #257c93;
  border-color:#2a8da7;
}
.pnl-primary-subtle{
  background:#bdd2d7;
}
.pnl-action{
  background:#2e77b8;
  color:#fff;
  text-shadow:0 1px 1px #22598a;
  border-color:#27659c;
}
.pnl-action-subtle{
  background:#b9c8d5;
}
.pnl-success{
  background:#39ac67;
  color:#fff;
  text-shadow:0 1px 1px #2b814d;
  border-color:#309258;
}
.pnl-success-subtle{
  background:#bbd2c5;
}
.pnl-warn{
  background:#f5d989;
  color:#584307;
  text-shadow:none;
  border-color:#f2ce66;
}
.pnl-warn-subtle{
  background:#eee9dd;
}
.pnl-critical{
  background:#db1f1f;
  color:#fff;
  text-shadow:0 1px 1px #a41717;
  border-color:#ba1a1a;
}
.pnl-critical-subtle{
  background:#dbbbbb;
}
.pnl-level-1{
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  z-index:10;
}
.pnl-level-2{
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  z-index:20;
}
.pnl-level-3{
  box-shadow:0 0 16px rgba(0,0,0,0.25);
  z-index:30;
}
.pnl-standalone{
  border-radius:4px;
}
.toolbar{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-flex-flow:row wrap;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
}
.toolbar::before,
.toolbar::after{
  content:'';
  display:table;
}
.toolbar::after{
  clear:both;
}
.toolbar-group{
  text-align:center;
  -webkit-box-flex:100%;
  -webkit-flex:100%;
      -ms-flex:100%;
          flex:100%;
  margin:0.5em 0;
}
.toolbar-group h1,
.toolbar-group h2,
.toolbar-group h3{
  margin:0;
}
.toolbar-title{
  font-size:1.25em;
}
@media (min-width: 640px){
  .toolbar-group{
    margin:1em 0;
  }
  .toolbar-group-left{
    text-align:left;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
  .toolbar-group-right{
    text-align:right;
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
  }
}
.tumbler{
  position:relative;
  display:inline-block;
  box-sizing:border-box;
  vertical-align:middle;
  padding:0.25em 0.75em;
  height:2.1em;
  width:3em;
  cursor:pointer;
  border-radius:1000px;
  box-shadow:0 1px 8px rgba(0,0,0,0.1) inset, 0 0 1px rgba(0,0,0,0.5) inset;
  background:#eee;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.tumbler input[type="radio"],
.tumbler input[type="checkbox"]{
  position:absolute;
  visibility:hidden;
}
.tumbler::after{
  content:'';
  position:absolute;
  top:0.2em;
  bottom:0.2em;
  display:block;
  box-sizing:border-box;
  width:1.7em;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  -ms-touch-action:manipulation;
      touch-action:manipulation;
  border-radius:999px;
  background:#fff;
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  left:0%;
  margin-left:0.2em;
  -webkit-transition:all 0.3s;
          transition:all 0.3s;
}
.tumbler.active{
  background-color:#2e77b8;
  border-color:#27659c;
}
.tumbler.active::after{
  left:100%;
  margin-left:-1.9em;
}
.tumbler-larger{
  font-size:1.5em;
}
.tumbler-large{
  font-size:1.25em;
}
.tumbler-small{
  font-size:0.875em;
}
.tumbler-smaller{
  font-size:0.75em;
}
.empty-list{
  margin:4em;
  text-align:center;
}
.empty-list-icon{
  font-size:10em;
  border-radius:128px;
  color:#31a6c4;
  text-align:center;
}
.empty-list-message{
  font-size:1.25em;
}
.hero{
  padding-top:4em;
  padding-bottom:4em;
}
.medium-editor{
  outline:0;
  min-height:120px;
}
.medium-editor-toolbar,
.medium-editor-anchor-preview{
  position:absolute;
  z-index:0;
  top:0;
  left:0;
  visibility:hidden;
  opacity:0;
  -webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
          transition:transform 0.3s, opacity 0.3s;
}
.medium-editor-toolbar::after,
.medium-editor-anchor-preview::after{
  content:'';
  position:absolute;
  left:50%;
  margin-left:-8px;
  display:block;
  border:8px solid transparent;
}
.medium-editor-toolbar-actions{
  margin:0;
  padding:0;
  list-style:none;
}
.medium-editor-toolbar-actions li{
  margin:0;
  display:inline-block;
  margin-left:-1px;
}
.medium-editor-toolbar-actions li:first-child button{
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  margin-left:0;
}
.medium-editor-toolbar-actions li:last-child button{
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}
.medium-editor-action{
  position:relative;
  z-index:1;
  display:inline-block;
  box-sizing:border-box;
  padding:0.25em 0.75em;
  height:2.1em;
  vertical-align:middle;
  outline:0;
  cursor:pointer;
  -ms-touch-action:manipulation;
      touch-action:manipulation;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  border-width:1px;
  border-style:solid;
  border-color:#27659c;
  border-bottom-color:#215685;
  border-radius:0;
  background:#2e77b8;
  color:#fff;
  text-shadow:0 1px 1px #1d4c75;
  white-space:nowrap;
}
.medium-editor-action::-moz-focus-inner{
  border:0;
  padding:0;
}
.medium-editor-action:focus,
.medium-editor-action:hover{
  background:#296ba6;
}
.medium-editor-action:active,
.medium-editor-action.active{
  background:#27659c;
  border-color:#215685;
  box-shadow:0 3px 5px #215685 inset;
  z-index:2;
}
.medium-editor-action *{
  display:none;
}
.medium-editor-action::after{
  position:relative;
  top:-1px;
  display:inline-block;
  vertical-align:middle;
  font-family:Linearicons;
}
.medium-editor-action-bold::after{
  content:'\e9a3';
}
.medium-editor-action-italic::after{
  content:'\e9a4';
}
.medium-editor-action-underline::after{
  content:'\e9a5';
}
.medium-editor-action-strikethrough::after{
  content:'\e9a2';
  text-decoration:line-through;
}
.medium-editor-action-header1::after{
  font-family:Arsenal, sans-serif;
  content:'H1';
}
.medium-editor-action-header2::after{
  font-family:Arsenal, sans-serif;
  content:'H2';
}
.medium-editor-action-quote::after{
  content:'\e7e5';
}
.medium-editor-action-anchor::after{
  content:'\e915';
}
.medium-editor-action-orderedlist::after{
  content:'\e92d';
}
.medium-editor-action-unorderedlist::after{
  content:'\e92c';
}
.medium-editor-toolbar{
  -webkit-transform:translateY(16px);
      -ms-transform:translateY(16px);
          transform:translateY(16px);
}
.medium-editor-toolbar::after{
  top:100%;
  border-top-color:#27659c;
}
.medium-editor-anchor-preview{
  padding:4px 12px;
  border:1px solid #27659c;
  border-radius:4px;
  -webkit-transform:translateY(-16px);
      -ms-transform:translateY(-16px);
          transform:translateY(-16px);
  background:#2e77b8;
  color:#fff;
  text-align:center;
}
.medium-editor-anchor-preview::after{
  bottom:100%;
  left:50%;
  border-bottom-color:#27659c;
}
.medium-editor-toolbar-active,
.medium-editor-anchor-preview-active{
  z-index:2000;
  visibility:visible;
  opacity:1;
  -webkit-transform:translateY(0);
      -ms-transform:translateY(0);
          transform:translateY(0);
}
.medium-editor-toolbar-form{
  display:none;
  border:1px solid #27659c;
  border-radius:4px;
  background:#2e77b8;
  text-align:center;
}
.medium-editor-toolbar-form a{
  display:inline-block;
  padding:4px 12px;
  color:#fff;
}
.medium-editor-toolbar-form i.fa{
  position:relative;
  top:-1px;
  display:inline-block;
  vertical-align:middle;
  font-family:Linearicons;
  font-style:normal;
}
.medium-editor-toolbar-form i.fa-check::after{
  content:'\e934';
}
.medium-editor-toolbar-form i.fa-times::after{
  content:'\e935';
}
.medium-editor-placeholder{
  position:relative;
}
.medium-editor-placeholder::after{
  content:attr(data-placeholder);
  position:absolute;
  top:0;
  left:0;
  color:#858585;
  font-style:italic;
  white-space:pre-wrap;
}
.medium-editor-toolbar-input{
  border:1px solid #27659c;
}
.product-list-item{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  border:1px solid #eee;
  margin-top:-1px;
  overflow:hidden;
}
.product-list-item:first-child{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.product-list-item:last-child{
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.product-list-item:hover{
  background:#fbfbfb;
}
.product-list-photo{
  background:#eee;
  width:96px;
}
.product-list-photo::before,
.product-list-photo::after{
  content:'';
  display:table;
}
.product-list-photo::after{
  clear:both;
}
.product-list-photo-empty{
  text-align:center;
  padding:1em 0;
}
.product-list-photo-empty i{
  font-size:3em;
  vertical-align:middle;
  color:#858585;
}
.product-list-description{
  margin-left:1em;
}
.workspace-main{
  position:relative;
}
.workspace-main::before,
.workspace-main::after{
  content:'';
  display:table;
}
.workspace-main::after{
  clear:both;
}
.workspace-aside{
  position:relative;
  z-index:500;
  overflow:auto;
  background:#0c2931;
  font-size:0;
  white-space:nowrap;
}
.workspace-nav-link{
  position:relative;
  display:inline-block;
  font-size:16px;
  line-height:48px;
  white-space:nowrap;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  background:transparent;
  color:#31a6c4;
}
.workspace-nav-link:hover{
  color:#4bb6d2;
}
.workspace-nav-link.active{
  background:#091f25;
  color:#fff;
  text-shadow:none;
}
.workspace-nav-link.active::before{
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  display:block;
  height:4px;
  background:#31a6c4;
}
.workspace-nav-icon{
  position:relative;
  top:-2px;
  width:48px;
  font-size:20px;
  vertical-align:middle;
  text-align:center;
}
@media (min-width: 640px){
  .workspace-main{
    margin-left:48px;
    min-height:100vh;
  }
  .workspace-aside{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:48px;
  }
  .workspace-nav-link{
    display:block;
  }
  .workspace-nav-link.active::before{
    top:0;
    bottom:0;
    right:0;
    left:auto;
    width:4px;
    height:auto;
  }
}
@media (min-width: 1024px){
  .workspace-main{
    margin-left:208px;
  }
  .workspace-aside{
    width:208px;
  }
  .workspace-nav-link::after{
    content:attr(title);
  }
}
.workspace-section{
  padding:1em;
}
.workspace-section + .workspace-section{
  border-top:1px solid #9cbbc3;
}
.workspace-section-title{
  margin:0 0 0.5em;
  font-size:1.5em;
}
.workspace-section-description{
  font-size:0.875em;
}
