// ========================
// Тема оформления магазина
// ========================

// ----------
// Переменные
// ----------

@import './core/variables'

// ----
// Ядро
// ----

@import './core/reset'
@import './core/fonts'
@import './core/mixins'
@import './core/base'
@import './core/helpers'
@import './core/icons.css'

// ----------
// Компоненты
// ----------
//
// Автономные модули, формирующие пользовательский интерфейс
// (сетки, кнопки, формы, панели и т.д.).

@import './components/*'

// --------------
// Стили магазина
// --------------
//
// Стили, применяемые к шаблонам товаров, категорий, корзины покупок и т.д.

@import './store/*'
