// ----
// Блог
// ----

.blog-outline-link {
  display: block;

  font-size: type-small;

  &.active {
    color: ui-critical;
  }
}

.blog-outline-h1 {
  font-size: type-large;
}

.blog-outline-h2 {
}

.blog-outline-h3 {
  margin-left: .5em;
  padding-left: .5em;
  border-left: 1px dotted ui-default;
}

.blog-outline-h4 {
  padding-left: 2em;
  font-size: type-small;
}

.blog-post-heading {
  padding: 120px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  color: #fff;
  text-shadow: 0 0 1px #000, 0 1px 3px #000, 0 0 64px #000;
  box-shadow: 0 64px 32px -64px rgba(0,0,0,.5) inset,
  0 -64px 32px -64px rgba(0,0,0,.5) inset;
}

@media (min-width: screen-medium-min) {

  .blog-post-content {
    float: left;
    width: 70%;
  }

  .blog-post-outline {
    float: right;
    width: 27%;

    opacity: .1;
    transition: opacity 5s;

    &:hover {
      opacity: 1;
      transition: opacity .2s;
    }
  }

}
