// ---------------
// Корзина покупок
// ---------------
//
// В базовой теме корзина отображается как фиксированная правая часть экрана,
// скрытая по умолчанию.

.cart {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;

  box-sizing: border-box;
  width: cart-width;
  border-left: 4px solid cart-color;

  background: ui-base;
  transform: translateX(cart-width);
  transition: transform .5s;

  &.open {
    transform: translateX(0);
    box-shadow: 0 0 64px rgba(0, 0, 0, .25);
  }

}

// Перекрытие

.cart-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: pointer;
  background: rgba(0,0,0,.25);
}

// Кнопка открытия/закрытия корзины,
// на ней отображается количество товаров

.cart-toggle {
  position: absolute;
  bottom: 64px;
  right: 100%;
  display: block;
  padding: .5em .75em;

  border-radius: border-radius 0 0 border-radius;
  cursor: pointer
  text-decoration: none;
  text-align: center;
  background-color: cart-color;
  color: #fff;
  text-shadow: 0 1px 1px darken(cart-color, 25%);

  &:hover, &:visited {
    color: #fff;
  }

}

.cart-toggle-icon {
  font-size: 20px
}

// Ссылка «Закрыть»

.cart-close {
  position: absolute;
  z-index: 3;
  top: 4px;
  right: 8px;
  color: subtle-color;
  font-size: type-small;
}

// Контейнер и нижний блок оформления заказа

.cart-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  padding: 0 gap;
  box-sizing: border-box;
}

.cart-checkout {
  clearfix();
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}

// Позиции заказа в корзине

.cart-items {
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.cart-item {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-item-summary {
  flex: 1;
}

// Цены

.cart-price-old {
  color: subtle-color;
  text-decoration: line-through;
}

.cart-price-discount {
  color: ui-critical;
}

// Подитог

.cart-subtotal {
  font-size: type-large;
}

// Управление количеством в позиции

.cart-item-qty {
  text-align: center;
  min-width: 24px;
}

// Стрелки отображаются при наведении на позицию

.cart-item-qty-ctl {
  transition: all .5s;
  visibility: hidden;
  opacity: 0;
}

.cart-item:hover .cart-item-qty-ctl {
  visibility: visible;
  opacity: 1;
}

.cart-item-qty-label {
  font-size: type-large;
}

// Выбранные опции

.cart-item-option {
  color: subtle-color;
  font-size: type-small;
  white-space: nowrap;
}

.cart-item-option + .cart-item-option {
  margin-left: 6px;
}

// Контейнер, отодвигающийся при открывании корзины

.cart-shifter {
  position: relative;
  overflow: hidden;
  transition: all .5s;

  &.open {
    transform: translateX(-160px);
  }
}
