// -------
// Галерея
// -------

.gallery-items {
  display: flex;
  flex-flow: row wrap;
}

.gallery-item {
  position: relative;
  z-index: 1;

  display: block;
  flex: 1 1 50%;
  height: 160px;
  border: 0;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  transition: transform .3s;

  &:hover {
    z-index: 2;
    transform: scale(1.1);
  }
}

@media (min-width: screen-medium-min) {

  .gallery-item {
    flex-basis: 33%;
  }

}

@media (min-width: screen-large-min) {

  .gallery-item {
    flex-basis: 25%;
  }

}


