// -------
// Галерея
// -------

.gallery-items {
  display: flex;
  flex-flow: row wrap;
}

.gallery-item {
  position: relative;
  z-index: 1;

  display: block;
  flex: 1 1 50%;
  height: 160px;
  border: 0;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:hover {
    box-shadow: 0 0 96px rgba(255,255,255,.4) inset;
  }
}

@media (min-width: screen-medium-min) {

  .gallery-item {
    flex-basis: 33%;
  }

}

@media (min-width: screen-large-min) {

  .gallery-item {
    flex-basis: 25%;
  }

}


