.order-table {
  width: 100%;

  th {
    font: inherit;
    color: subtle-color;
  }

  tfoot {
    border-top: 4px solid ui-default;
  }

}

.order-column {
  padding: .25em .5em;
  text-align: left;
  vertical-align: baseline;
  border-bottom: 1px solid ui-default;

  &:first-child {
    text-align: right;
  }
}

// Выбранные опции

.order-item-options {
  color: subtle-color;
  font-size: type-small;
}

// Цены

.order-price-old {
  color: subtle-color;
  font-size: type-small;
  text-decoration: line-through;
}

.order-price-new, .order-price-discount {
  color: ui-critical;
}


