// -----------------
// Коллекции товаров
// -----------------

.products-list-item {
  position: relative;
  z-index: 1;

  display: block;
  box-sizing: border-box;
  padding: gap;
  border-radius: border-radius;

  text-align: center;
}

.products-list-photo {
  position: relative;
  height: 240px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-list-price {
  color: body-color;
}

// Пометка о том, что товар в корзине

.products-list-incart {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 64px;
  height: 64px;
  box-sizing: border-box;
  padding: 12px 0;
  margin: -32px 0 0 -32px;
  border-radius: 64px;

  background: rgba(255,255,255,.9);
  color: #000;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);

  font-size: type-smaller;

  i {
    display: block;
    font-size: 20px;
    vertical-align: middle;
  }
}

// Сортировка

.products-sort-label {
  display: inline;
  margin-right: .5em;
}

.products-sort-link {
  display: inline-block;
  padding: .1em .5em;

  border-radius: border-radius;

  &:hover {
    background: ui-default;
  }

  &.active {
    color: body-background;
    background: link-color;
  }

}

// Страницы

.products-pager {
  text-align: center;
}

.products-pager-link {
  display: inline-block;
  padding: .1em .5em;

  border-radius: border-radius;

  &:hover {
    background: ui-default;
  }

  &.active {
    color: body-background;
    background: link-color;
  }

}

// Фильтры

.products-filters {
  clearfix();

  padding: 0 gap;
  border-radius: border-radius;
  background: #f7f7f7;

}

.products-filter-value {

  &.disabled {
    opacity: .5;
  }

  input[type="checkbox"] {
    margin-right: .5em;
  }

}

.products-filter-tags {
  text-align: center;
}

.products-filter-tag {
  dislay: inline-block;
  margin: 2px;
  padding: 0 gap-small;

  cursor: pointer;

  border: 1px solid ui-default-border;
  background: ui-default;
  color: ui-default-text;

  font-size: type-smaller;

  &.active {
    border-color: ui-primary-border;
    background-color: ui-primary;
    color: ui-primary-text;
  }

  &.disabled {
    opacity: .5;
  }
}
