// ---------------
// Просмотр товара
// ---------------
//
// Оформление основной страницы товара (витрины).
// Базовая тема включает минимум стилей для упрощения разработки
// уникального дизайна.

.product-view {

}

.product-view-photos {

}

.product-view-purchase {

}

.product-view-description {

}

.product-view-props {

}
