// -----------------
// Коллекции товаров
// -----------------

.products-list-item {
  position: relative;
  z-index: 1;

  display: block;
  box-sizing: border-box;
  padding: gap;
  border-radius: border-radius;

  text-align: center;

  transform: scale(1);
  transition: transform .3s;

  &:hover {
    transform: scale(1.2);
    z-index: 5;
  }

}

.products-list-photo {
  height: 240px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-list-price {
  color: body-color;
}

// Сортировка

.products-sort {
  position: relative;
  z-index: 50;
  margin: gap 0;
}

.products-sort-label {
  display: inline;
  margin-right: .5em;
}

.products-sort-link {
  display: inline-block;
  padding: .1em .5em;

  border-radius: border-radius;

  &:hover {
    background: ui-default;
  }

  &.active {
    color: body-background;
    background: link-color;
  }

}

// Страницы

.products-pager {
  position: relative;
  z-index: 50;

  margin: gap 0;

  text-align: center;
}

.products-pager-link {
  display: inline-block;
  padding: .1em .5em;

  border-radius: border-radius;

  &:hover {
    background: ui-default;
  }

  &.active {
    color: body-background;
    background: link-color;
  }

}
