// -------------------
// Компоновка магазина
// -------------------
//
// Базовая тема включает минимум стилей для упрощения разработки
// уникального дизайна.

.store-layout {

}

.store-header {
  background: ui-primary;
  color: ui-primary-text;
}

.store-header-title {
  font-size: type-larger;
}

.store-header-search {
  border: 0;
}

.store-topnav {
  border-bottom: 1px solid #eee;
}

.store-topnav-link {
  display: inline-block;
  line-height: 2em;
}

.store-topnav-link + .store-topnav-link {
  margin-left: gap;
}

.store-main {

}

.store-footer {

}
