// -------------------
// Компоновка магазина
// -------------------
//
// Базовая тема включает минимум стилей для упрощения разработки
// уникального дизайна.

.store-layout {

}

.store-header {

}

.store-topnav {

}

.store-main {

}

.store-footer {

}
