alert(bg, color)
  border: 4px solid bg
  background: lighten(bg, 50%)
  color: color

.alert
  clearfix()
  padding: 0 gutter
  border: 1px solid #ccc
  border-radius: radius

  for b in brand-colors
    &.{b}
      alert(lookup('brand-' + b), lookup('brand-' + b + '-text'))
