.breadcrumbs
  a, .item
    display: inline-block
    color: breadcrumbs-color
    font-size: breadcrumbs-size

    &:hover, &:focus
      color: breadcrumbs-hover-color

    &.active
      color: breadcrumbs-active-color

    &::after
      content: '\f105'
      padding: 0 8px
      color: lighten(breadcrumbs-color, 50%)
      font-family: FontAwesome

    &:last-child::after
      display: none
