ul[rn-carousel]
  position: relative
  padding: 0
  overflow: hidden

  perspective: 1000px
  -ms-touch-action: pan-y
  touch-action: pan-y

  white-space: nowrap

  > li
    position: absolute
    left: 0
    right: 0
    margin: 0

    display: inline-block
    width: 100%
    height: 100%
    padding: 0
    overflow: visible

    vertical-align: top
    white-space: normal
    list-style-type: none
    backface-visibility: hidden

    &.active
      position: relative
  
ul[rn-carousel-buffered] > li
  display: none

ul[rn-carousel-transition="hexagon"]
  overflow: visible

