// ---------
// Контейнер
// ---------
//
// Задает боковые отступы.

.container {
  padding-left: gap;
  padding-right: gap;
}

// ------------------------------
// Контейнер фиксированной ширины
// ------------------------------
//
// Контейнер фиксированной ширины можно задать с помощью модификатора
// `.container-fixed`, либо поместив его в `.layout-fixed`.

@media (min-width: screen-medium-min) {
  .container-fixed, .layout-fixed .container {
    box-sizing: border-box;
    width: screen-medium-min;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: screen-large-min) {
  .container-fixed, .layout-fixed .container {
    width: screen-large-min;
  }
}
