.dropdown
  position: absolute
  z-index: 10
  top: 100%
  margin-top: 12px
  width: dropdown-width
  padding: 6px 0
  border-radius: radius
  box-shadow: 0 1px 12px rgba(0,0,0,.2)
  font: font-weight font-size font-main
  background: dropdown-bg
  color: dropdown-color
  opacity: 0
  visibility: hidden
  transform: translateY(-32px)
  transition: .3s opacity, .3s transform
  &.wide
    width: (dropdown-width * 1.5)

  &.active
    visibility: visible
    opacity: 1
    transform: translateY(0)

  a
    display: block
    padding: spacing gutter
    color: dropdown-color
    text-align: left
    i
      width: 16px
      text-align: center

    &:hover
      color: dropdown-hover-color

  &.left
    left: 0
  &.right
    right: 0


