.elevate-1 {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 1px rgba(0,0,0,.5)
}

.elevate-2 {
  position: relative;
  z-index: 20;
  box-shadow: 0 1px 3px rgba(0,0,0,.25)
}

.elevate-3 {
  position: relative;
  z-index: 30;
  box-shadow: 0 1px 12px rgba(0,0,0,.25)
}

