row()
  clearfix()
  padding: 0
  margin-left: -(gutter)
  margin-right: -(gutter)
  list-style: none outside

  > *
    box-sizing: border-box
    float: left
    padding: 0 gutter

  for n in (1..12)
    > .col-{n}
      width: (100% * n / 12)

@media (min-width: screen-medium-min)
  .row.row-small
    row()

@media (min-width: screen-large-min)
  .row
    row()

@media (min-width: screen-medium-min)
  .grid
    display: table
    margin:0
    width: 100%
    padding: 0

    > *
      vertical-align: top

    &.top > *, > .top
      vertical-align: top

    &.bottom > *, > .bottom
      vertical-align: bottom

    &.middle > *, > .middle
      vertical-align: middle

    for n in (1..12)
      > .col-{n}
        display: table-cell
        width: (100% * n / 12)
