.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid-inline {
  display: inline-flex;
}

.grid-rounded {
  border-radius: border-radius;
  overflow: hidden;
}
.grid-align-baseline { align-items: baseline }
.grid-align-center { align-items: center }

.grid-gutters {
  margin: -.5em;

  .cell {
    margin: .5em;
  }
}

.cell {
  flex: 100%;
  box-sizing: border-box;
}

for i in (1..8) {
  .cell-{i} { flex: i }
  .cell-1of{i} { flex: (100 / i)% }
  .order-{i} { order: i }
}

@media (min-width: screen-medium-min) {
  for i in (1..8) {
    .m-cell-{i} { flex: i }
    .m-cell-1of{i} { flex: (100 / i)% }
    .m-order-{i} { order: i }
  }
}

@media (min-width: screen-large-min) {
  for i in (1..8) {
    .l-cell-{i} { flex: i }
    .l-cell-1of{i} { flex: (100 / i)% }
    .l-order-{i} { order: i }
  }
}

