// --------------
// Строчная сетка
// --------------
//
// Элементы в строчной сетке получают одинаковый отступ. Сама сетка
// сохраняет положение за счет отрицательных полей.

.inline-grid {
  display: inline-block;
  margin: -(gap / 2) ;

  > * {
    margin: (gap / 2);
  }
}
