panel(bg, color)
  background: bg
  color: color

  &.level1
    z-index: 100
    box-shadow: 0 0 1px darken(bg, 25%)

  &.level2
    z-index: 200
    box-shadow: 0 1px 5px darken(bg, 25%)

  &.level3
    z-index: 300
    box-shadow: 0 3px 12px darken(bg, 25%)

.panel
  clearfix()
  position: relative

  for b in brand-colors
    &.{b}
      panel(lookup('brand-' + b), lookup('brand-' + b + '-text'))

.panel-box
  > .panel:first-child
    border-top-left-radius: radius
    border-top-right-radius: radius

  > .panel:last-child
    border-bottom-left-radius: radius
    border-bottom-right-radius: radius

  > .grid:first-child
    .panel:first-child
      border-top-left-radius: radius
      border-top-right-radius: radius

  > .grid:last-child
    .panel:last-child
      border-bottom-left-radius: radius
      border-bottom-right-radius: radius

@media (min-width: screen-medium-min)
  .panel-box
    > .grid:first-child
      .panel:first-child
        border-top-left-radius: radius
        border-top-right-radius: 0

      .panel:last-child
        border-top-right-radius: radius

    > .grid:last-child
      .panel:last-child
        border-bottom-left-radius: 0
        border-bottom-right-radius: radius

      .panel:first-child
        border-bottom-left-radius: radius
