.photo
  display: block
  position: relative
  text-align: center

  img, canvas
    vertical-align: middle
    max-width: 100%

  .placeholder
    position: relative
    background: brand-default
    padding-bottom: 66%
    color: text-subtle-color

    > i
      position: absolute
      left: 50%
      top: 50%
      margin-left: -32px
      margin-top: -32px

      width: 64px
      height: 64px
      vertical-align: middle
      line-height:64px

  .thumb
    max-width: 160px
