.stacknav
  padding: 8px 0
  a
    display: block
    padding: 4px 0
    font-size: stacknav-size
    color: stacknav-color
    &:hover, &:focus
      color: stacknav-hover-color
    &.active
      color: stacknav-active-color
    span
      display: block
      margin-left: 24px
    i
      float: left
      width: 16px
      text-align: center
