table
  border-collapse: separate
  for a in baseline top bottom middle
    &.{a}
      td, th
        vertical-align: a
    tr.{a}
      td, th
        vertical-align: a
    td, th
      &.{a}
        vertical-align: a
  th
    text-align: left
    color: table-th-color
    font-weight: table-th-weight
    font-size: table-th-size
  &.rows
    tr:not(:last-child), thead tr
      td, th
        border-bottom: 1px solid table-border
    tfoot tr:first-child
      td, th
        border-top: 1px solid table-border
  tr.border-top
    td, th
      border-top: 1px solid table-border
  tr.border-bottom
    td, th
      border-bottom: 1px solid table-border
  tr[draggable]
    &.drag-over
      td, th
        background: rgba(link-color, .25)
