tag(bg, color)
  border: 1px solid darken(bg, 8%)
  background: bg
  color: color
  if light(color)
    text-shadow: 0 1px 1px darken(bg, 15%)

  &.outline
    background: body-bg
    text-shadow: none
    if light(color)
      color: bg
    else
      color: color

.tag
  ctl()
  spaced()
  z-index: 1

  background: transparent
  color: text-color
  font: font-weight font-size font-main
  text-align: center
  user-select: none

  for b in brand-colors
    &.{b}
      tag(lookup('brand-' + b), lookup('brand-' + b + '-text'))

  &.block
    display: block
    text-align: left

  &[draggable]
    cursor: move

  &.drag-over
    border: 1px solid link-color
    box-shadow: 0 0 5px 1px link-color

  i + span, span + i
    margin-left: 4px

.tags
  user-select: none
  margin: -(spacing / 2)

  .tag
    margin: (spacing / 2)
