.toolbar
  clearfix()
  position: relative
  z-index: 2

  .title
    display: inline-block
    opacity: .66
    font-size: type-large

  .group
    position: relative
    display: inline-block

    > * + *
      margin-left: 6px

@media (max-width: screen-small-max)
  .toolbar
    .pull-left, .pull-right
      float: none

    .group
      display: block

      + .group
        margin-top: gutter

