.tumbler
  ctl()
  spaced()
  width: 48px
  border-radius: 1000px
  vertical-align: middle
  transition: .3s all
  cursor: pointer
  user-select: none
  background-color: brand-default
  border-color: darken(brand-default, 15%)
  box-shadow: 0 1px 5px darken(brand-default, 15%) inset
  &::after
    content:' '

  input
    position: absolute
    visibility: hidden
    width: 0
    height: 0

  .knob
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 100%
    width: 30px
    margin-left: -30px
    background: brand-blank
    box-shadow: ui-shadow
    transition: .3s all
    border-radius: 1000px

  &.small
    width: 40px
    .knob
      width: 26px
      margin-left: -26px
  &.large
    width: 56px
    .knob
      width: 38px
      margin-left: -38px

  &.active
    background-color: brand-primary
    border-color: darken(brand-primary, 15%)
    box-shadow: 0 1px 5px darken(brand-primary, 15%) inset
    color: brand-primary-text

    .knob
      left: 0
      margin-left: 0
