.upload-zone
  display: block
  padding: (pad / 2) pad
  border: 4px dashed darken(brand-default, 5%)
  text-align: center
  border-radius: radius
  cursor: pointer

  input[type=file]
    display: block
    font-size: 0
    width: 0
    height: 0
    appearance: none
    visibility: hidden

  &.nv-file-over
    border-color: link-color


