<!doctype html>
<html ng-app="#{app || 'prostore:store'}">
  <head>
    <meta charset="utf-8"/>
    <block:meta>
      <meta name="viewport"
            content="width=device-width, initial-scale=1"/>
    </block:meta>

    <title><block:title>#{store.title}</block:title></title>

    <block:stylesheets>
      <link rel="stylesheet"
            href="#{store.themeCssUrl}"/>
    </block:stylesheets>

    <block:storeData>
      <script type="application/json"
              attach-data="store">
        !{JSON.stringify(store.client)}
      </script>
    </block:storeData>

    <if expr="principal">
      <script type="application/json"
              attach-data="principal">
        !{JSON.stringify(principal.client)}
      </script>
    </if>

  </head>
  <body>
    <div id="notices" ui-notices></div>
    <block:body/>
    <block:scripts>
      <script src="/app/store.js"></script>
    </block:scripts>
  </body>
</html>
