<include file="_outer.html">

  <var:app>'prostore:admin'</var:app>

  <append:meta>
    <base href="/admin/"/>
  </append:meta>

  <def:body>
    <div class="workspace">
      <div class="workspace-aside">
        <ng-include src="'_aside.html'">
        </ng-include>
      </div>
      <div ui-view>
        <div class="workspace-main">
          <div class="loading">Пожалуйста, подождите...</div>
        </div>
      </div>
    </div>
  </def:body>

  <def:scripts>
    <script src="#{store.origin}#{assets['app/store.js']}"></script>
    <each:template in="templates">
      <script id="#{template.file}"
              type="text/ng-template">
        !{template.content}
      </script>
    </each:template>
  </def:scripts>

</include>
