<!-- Панель администрирования — это одностраничное приложение, написанное
на Angular. Данный шаблон является точкой входа в приложение.

Изменять этот шаблон не рекомендуется.
-->
<include file="_outer.html">

  <var:app>'prostore:admin'</var:app>

  <append:meta>
    <base href="/admin/"/>
  </append:meta>

  <def:stylesheets>
    <link rel="stylesheet"
          href="#{store.origin}#{assets['app/admin.css']}"/>
  </def:stylesheets>

  <def:body>
    <div ui-view></div>
  </def:body>

  <def:scripts>
    <script src="#{store.origin}#{assets['app/admin.js']}"></script>
    <each:template in="templates">
      <script id="#{template.file}"
              type="text/ng-template">
        !{template.content}
      </script>
    </each:template>
  </def:scripts>

</include>
