<!-- Модальное окно входа в систему -->
<include file="_outer.html">

  <def:body>
    <div class="modal-layout store-login"
         ng-controller="LoginController as login">
      <form name="loginForm"
            novalidate
            ng-submit="loginForm.$valid && login.submit()">
        <div class="pnl-group">
          <div class="pnl pnl-primary pnl-indent">
            <h1>Вход в систему</h1>
          </div>
          <div class="pnl pnl-base pnl-indent">
            <div class="input-group input-group-block block">
              <label for="email"
                     class="input-group-addon">Email</label>
              <input id="email"
                     type="email"
                     class="input"
                     ng-model="login.email"
                     required/>
            </div>
            <div class="input-group input-group-block block">
              <label for="password"
                     class="input-group-addon">Пароль</label>
              <input id="password"
                     type="password"
                     class="input"
                     ng-model="login.password"
                     required/>
            </div>
          </div>
          <div class="pnl pnl-default pnl-indent">
            <div class="block centered">
              <div class="inline-grid">
                <button type="submit"
                        ng-disabled="!loginForm.$valid"
                        class="btn btn-primary">
                  <span>Войти</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </def:body>

</include>
