<div class="order-checkout"
     ng-if="cart.order.grandTotal">

  <div class="grid grid-gutters grid-align-baseline block">
    <div class="cell cell-m-1">
      <h3>Подитог</h3>
    </div>
    <div class="cell cell-m-1">
      <div class="order-price">
        {{ cart.order.subTotal | price }}
      </div>
    </div>
  </div>

  <div class="grid grid-gutters grid-align-baseline block">
    <div class="cell cell-m-1">
      <h3>Стоимость доставки</h3>
    </div>
    <div class="cell cell-m-1">
      <div class="order-price">
        {{ cart.order.deliveryFee | price }}
      </div>
    </div>
  </div>

</div>
