<div class="order-delivery">
  <div ng-if="cart.availableDeliveryMethods.length"
       ng-repeat="method in cart.availableDeliveryMethods"
       class="grid grid-gutters grid-align-baseline">
    <div class="cell cell-min">
      <input id="deliveryMethod-{{$index}}"
             type="radio"
             ng-model="cart.order.deliveryMethod"
             ng-value="method.title"
             ng-change="cart.update()"/>
    </div>
    <div class="cell cell-1">
      <label for="deliveryMethod-{{$index}}">{{ method.title }}</label>
      <div ng-if="cart.order.deliveryMethod == method.title">

        <!-- TODO Здесь должны быть поля -->
        <p>PREVED</p>

      </div>
    </div>
  </div>

  <div ng-if="!cart.availableDeliveryMethods.length">
    <p>Менеджер свяжется с Вами для уточнения условий доставки.</p>
  </div>
</div>
