<table class="datatable">
  <thead>
    <tr>
      <th width="1%">
        #
      </th>
      <th>
        Наименование
      </th>
      <th>
        Кол-во
      </th>
      <th>
        Цена
      </th>
      <th>
        Сумма
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Позиции заказа -->
    <tr ng-repeat="item in cart.order.items">
      <td ng-bind="$index + 1"></td>
      <td>
        <div ng-bind="item.title"></div>
        <div class="text-subtle inline-grid-block">
          <span ng-repeat="(name, value) in item.options track by $index"
                ng-bind="value"></span>
        </div>
      </td>
      <!-- Количество -->
      <td>
        <div class="inline-grid">
          <a href=""
             ng-click="cart.decr(item)">
            <i class="icon-circle-minus"></i>
          </a>
          <span ng-bind="item.quantity"></span>
          <a href=""
             ng-click="cart.incr(item)">
            <i class="icon-plus-circle"></i>
          </a>
        </div>
      </td>
      <!-- Цена -->
      <td>
        <!-- Без скидки -->
        <div class="price"
             ng-if="!item.discount"
             ng-bind="item.price | price">
        </div>
        <!-- Со скидкой -->
        <div ng-if="item.discount > 0">
          <div class="price price-old"
               ng-bind="item.price | price"></div>
          <div class="price price-new"
               ng-bind="item.price - item.discount | price"></div>
        </div>
      </td>
      <!-- Сумма -->
      <td>
        <!-- Без скидки -->
        <div class="price"
             ng-if="item.totalDiscount == 0"
             ng-bind="item.subTotal | price">
        </div>
        <!-- Со скидкой -->
        <div ng-if="item.totalDiscount > 0">
          <div class="price price-old"
               ng-bind="item.totalPrice | price"></div>
          <div class="price price-new"
               ng-bind="item.subTotal | price"></div>
        </div>
      </td>
    </tr>
    <!-- Дополнительная скидка -->
    <tr ng-if="cart.order.discount > 0">
      <td></td>
      <td colspan="3">
        Дополнительная скидка
      </td>
      <td>
        <div class="price price-discount"
             ng-bind="-cart.order.discount | price"></div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <!-- Общая сумма без скидки -->
    <tr ng-if="cart.order.totalDiscount > 0">
      <td></td>
      <td colspan="3">
        Сумма без учета скидки
      </td>
      <td>
        <div class="price"
             ng-bind="cart.order.itemsPrice | price"></div>
      </td>
    </tr>
    <!-- Общая скидка -->
    <tr ng-if="cart.order.totalDiscount > 0">
      <td></td>
      <td colspan="3">
        Общая скидка
      </td>
      <td>
        <div class="price price-discount"
             ng-bind="-cart.order.totalDiscount | price "></div>
      </td>
    </tr>
    <!-- Подитог -->
    <tr>
      <td></td>
      <td colspan="3">
        Подитог
      </td>
      <td>
        <div class="price"
             ng-bind="cart.order.subTotal | price"></div>
      </td>
    </tr>
    <!-- Стоимость доставки -->
    <tr ng-if="cart.order.deliveryFee != null">
      <td></td>
      <td colspan="3">
        Упаковка и доставка
      </td>
      <td>
        <div class="price"
             ng-bind="cart.order.deliveryFee | price"></div>
      </td>
    </tr>
    <!-- Общий итог -->
    <tr ng-if="cart.order.grandTotal != null"
        class="type-large">
      <td></td>
      <td colspan="3">
        Общий итог
      </td>
      <td>
        <div class="price"
             ng-bind="cart.order.grandTotal | price"></div>
      </td>
    </tr>
  </tfoot>
</table>
