<include file="/store/_layout.html">

  <def:main>
    <div class="store-checkout">
      <div class="container"
           ng-cloak>

        <form name="checkoutForm"
              ng-cloak
              novalidate
              ng-if="cart.order.items.length"
              ng-controller="CheckoutController as checkout"
              ng-submit="checkoutForm.$valid && checkout.submit()">
          <h1>Ваш заказ</h1>
          <include file="_order.html"/>
          <include file="_delivery.html"/>
          <include file="_checkout.html"/>
        </form>

        <!-- Если в корзине ничего нет -->
        <div class="block centered hero"
             ng-if="!cart.order.items.length">
          <i class="icon-cart-empty type-larger text-critical"></i>
          <h2>В Вашей корзине пусто.</h2>
          <p>Добавьте товары в корзину, чтобы сделать заказ.</p>
        </div>

      </div>
    </div>
  </def:main>

</include>
