<div class="shopping-cart"
     ng-cloak
     ng-class="{ 'open': cart.isOpen }"
     ng-if="cart.order.items.length">
  <a class="shopping-cart-toggle"
     href=""
     ng-click="cart.toggle()">
    <i class="shopping-cart-toggle-icon icon-cart"></i>
    <span>{{ cart.order.totalQuantity }}</span>
  </a>
  <a href=""
     class="shopping-cart-close"
     ng-click="cart.close()">
    <span>Закрыть</span>
  </a>
  <div class="shopping-cart-container">
    <h2>Корзина</h2>
    <ul class="shopping-cart-items">
      <li class="shopping-cart-item"
          ng-repeat="item in cart.order.items">
        <div class="shopping-cart-item-summary">
          <a class="shopping-cart-item-link"
             href="{{ item.url }}">{{ item.title }}</a>
          <div class="shopping-cart-item-props">
            <span ng-repeat="(name, value) in item.props"
                  class="shopping-cart-item-prop">
              {{ name }}: {{ value }}
            </span>
          </div>
          <div class="shopping-cart-item-price product-price">
            {{ item.price | price }}
          </div>
        </div>
        <div class="shopping-cart-item-qty">
          <a href=""
             class="shopping-cart-item-qty-ctl"
             ng-click="cart.incr(item)">
            <i class="icon-chevron-up"></i>
          </a>
          <div class="shopping-cart-item-qty-label">{{ item.quantity }}</div>
          <a href=""
             class="shopping-cart-item-qty-ctl"
             ng-click="cart.decr(item)">
            <i class="icon-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
    <div class="shopping-cart-checkout">
      <div class="shopping-cart-label">Итого:</div>
      <div class="shopping-cart-subtotal">{{ cart.order.subTotal | price }}</div>
      <div class="centered">
        <a href="/checkout"
           class="btn btn-primary btn-large">
          <span>Оформить заказ</span>
        </a>
      </div>
    </div>
  </div>
</div>
