<div class="shopping-cart"
     ng-cloak
     ng-class="{ open: cart.isOpen }">
  <a class="cart-toggle-button"
     href=""
     ng-click="cart.toggle()">
    <i class="fa-shopping-cart"></i>
    <label>{{ cart.order.totalQuantity }}</label>
  </a>
  <div class="cart-body">
    <a href=""
       class="cart-close"
       ng-click="cart.close()">
      <i class="fa-times"></i>
      <span>Закрыть</span>
    </a>
    <h2>Корзина</h2>
    <table class="datatable wide rows cart-items">
      <tr ng-repeat="item in cart.order.items"
          class="cart-item">
        <td>
          <img ng-src="{{ item.photo }}"
               class="cart-item-photo cart-hover"/>
          <a href="{{ item.url }}">{{ item.title }}</a>
          <div class="cart-item-props">
            <span ng-repeat="(name, value) in item.props"
                  class="cart-item-prop">
              {{ name }}: {{ value }}
            </span>
          </div>
          <div class="cart-item-price">
            <div class="price">{{ item.price | price }}</div>
          </div>
        </td>
        <td class="cart-item-qty">
          <div class="cart-item-qty-ctl cart-hover">
            <a href=""
               ng-click="cart.incr(item)">
              <i class="fa-angle-up"></i>
            </a>
          </div>
          <div class="type-large">{{ item.quantity }}</div>
          <div class="cart-item-qty-ctl cart-hover">
            <a href=""
               ng-click="cart.decr(item)">
              <i class="fa-angle-down"></i>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
