<!-- Корзина покупок  -->
<div class="cart"
     ng-cloak
     ng-class="{ 'open': cart.isOpen }"
     ng-if="cart.order.items.length">
  <!-- Кнопка открытия/закрытия корзины -->
  <a class="cart-toggle"
     href=""
     ng-click="cart.toggle()">
    <i class="cart-toggle-icon icon-cart"></i>
    <span>{{ cart.order.totalQuantity }}</span>
  </a>
  <!-- Ссылка на закрытие корзины -->
  <a href=""
     class="cart-close"
     ng-click="cart.close()">
    <span>Закрыть</span>
  </a>
  <!-- Flexbox-контейнер, распределяющий элементы по вертикали -->
  <div class="cart-container">
    <h2>Корзина</h2>
    <!-- Позиции заказа -->
    <ul class="cart-items">
      <li class="cart-item"
          ng-repeat="item in cart.order.items">
        <div class="cart-item-summary">
          <a class="cart-item-link"
             href="{{ item.url }}">{{ item.title }}</a>
          <div class="cart-item-props">
            <span ng-repeat="(name, value) in item.props"
                  class="cart-item-prop">
              {{ name }}: {{ value }}
            </span>
          </div>
          <div class="cart-item-price product-price">
            {{ item.price | price }}
          </div>
        </div>
        <!-- Управление количеством (добавить/убрать) -->
        <div class="cart-item-qty">
          <a href=""
             class="cart-item-qty-ctl"
             ng-click="cart.incr(item)">
            <i class="icon-chevron-up"></i>
          </a>
          <div class="cart-item-qty-label">{{ item.quantity }}</div>
          <a href=""
             class="cart-item-qty-ctl"
             ng-click="cart.decr(item)">
            <i class="icon-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
    <!-- Нижний блок: подитог, оформление -->
    <div class="cart-checkout"
         ng-if="cart.order.subTotal > 0">
      <div class="text-subtle">Итого:</div>
      <div class="type-large">{{ cart.order.subTotal | price }}</div>
      <div ng-show="cart.order.deliveryFee > 0">+ доставка</div>
      <div ng-show="cart.order.deliveryFee == 0"
           class="text-critical">бесплатная доставка</div>
      <div class="centered block">
        <a href="/checkout"
           class="btn btn-primary btn-large">
          <span>Оформить заказ</span>
        </a>
      </div>
    </div>
  </div>
</div>
