row()
  clearfix()
  padding: 0
  list-style: none outside
  margin-left: -(gutter)
  margin-right: -(gutter)
  &::before, &::after
    content: ''
    display: table
  &:after
    clear: both
  > *
    box-sizing: border-box
    float: left
    padding: 0 gutter
  for n in (1..12)
    > .span-{n}
      width: (100% * n / 12)

@media screen and (min-width: screen-large-min)
  .row
    row()

@media screen and (min-width: screen-medium-min)
  .row.row-small
    row()


