.magnifier-glass
  position: absolute
  z-index: 1000
  pointer-events:none
  border-radius: magnifier-size * 2
  background-color: #fff
  background-repeat: no-repeat
  width: 0
  height: 0
  box-shadow: 0 3px 8px rgba(0,0,0,.25),
              0 4px 0px rgba(255,255,255,.25) inset
  opacity: 0
  visibility: hidden
  transition: .3s opacity

  &.active
    visibility: visible
    opacity: 1
    width: magnifier-size
    height: magnifier-size

img[ui-magnify]
  cursor: none
