.photo
  position: relative
  display: block
  text-align: center

  img, canvas
    vertical-align: middle
    max-width: 100%

  .placeholder
    position: relative
    background: brand-default
    padding-bottom: 66%
    color: text-subtle-color
    > i
      position: absolute
      width:64px
      height:64px
      line-height:64px
      left: 50%
      top: 50%
      margin-left: -32px
      margin-top: -32px
      vertical-align: middle

  .thumb
    max-width: 160px
