.pin
  display: inline-block
  background: #fff
  box-shadow: panel-shadow
  border-radius: 32px
  padding: 2px 4px
  line-height: 1em
  text-align: center
  font-size: type-small
  vertical-align: middle
