.stacknav
  padding: 8px 0
  a
    display: block
    font-size: stacknav-size
    color: stacknav-color
    padding: 4px 8px
    &:hover, &:focus
      color: stacknav-hover-color
    &.active
      color: stacknav-active-color
    i
      width: 16px
