.toolbar
  clearfix()
  position: relative
  z-index: 2

  .title
    display: inline-block
    font-size: type-large
    opacity: .66

  .group
    position: relative
    display: inline-block

    > * + *
      margin-left: 6px

@media screen and (max-width: screen-small-max)
  .toolbar
    .pull-left, .pull-right
      float: none
    .group
      display: block
      + .group
        margin-top: gutter

