<!-- Компоновка для писем, отправляемых по электронной почте -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <title>#{email.subject}</title>
    <link rel="stylesheet"
          href="#{store.origin}#{assets['stylesheets/email.css']}"/>
  </head>
  <body>
    <div class="email-layout">
      <include file="_header.html"/>
      <div class="email-main">
        <block:main/>
      </div>
      <include file="_footer.html"/>
    </div>
  </body>
</html>
