<!-- Уведомление о восстановлении доступа в систему -->
<include file="_layout.html">

  <def:main>
    <h2>Восстановление доступа</h2>
    <p>
      Данный адрес электронной почты был указан для восстановления
      доступа в магазин.
    </p>
    <p>
      Если Вы не совершали подобных запросов, проигнорируйте это письмо.
    </p>
    <p>
      Для смены пароля от Вашей учетной записи перейдите по ссылке ниже.
      Ссылка действительна в течение суток с момента запроса.
    </p>
    <p>
      <a href="#{restoreUrl}">#{restoreUrl}</a>
    </p>
  </def:main>

</include>
